<template>
  <editor-bar-button icon="code" :color="color" action="code" snippet="editor.button.code"/>
</template>

<script>
import EditorBarButton from '../EditorBarButton'
export default {
  group: {
    name: 'code',
    snippet: 'editor.group.code',
    icon: 'code',
    action: 'code'
  },
  components: {
    EditorBarButton
  },
  props: {
    color: {
      type: String,
      default: ''
    }
  },
}
</script>
