<template>
  <editor-bar-button icon="formatListNumbered" :color="color" action="insertOrderedList" snippet="editor.button.list_numbered"/>
</template>

<script>
import EditorBarButton from '../EditorBarButton'
export default {
  group: {
    name: 'lists',
    snippet: 'editor.group.lists',
    icon: 'formatListBulleted'
  },
  components: {
    EditorBarButton
  },
  props: {
    color: {
      type: String,
      default: ''
    }
  }
}
</script>
