<template>
  <editor-bar-button icon="formatAlignCenter" :color="color" action="justifyCenter" snippet="editor.button.align_center"/>
</template>

<script>
import EditorBarButton from '../EditorBarButton'
export default {
  group: {
    name: 'alignment',
    snippet: 'editor.group.alignment',
    icon: 'formatAlignCenter'
  },
  components: {
    EditorBarButton
  },
  props: {
    color: {
      type: String,
      default: ''
    }
  }
}
</script>
