<template>
  <editor-bar-button icon="formatSize" :color="color" action="format-size" snippet="editor.button.font_size"/>
</template>

<script>
import EditorBarButton from '../EditorBarButton'
export default {
  group: {
    name: 'format',
    snippet: 'editor.group.format',
    icon: 'formatBold'
  },
  components: {
    EditorBarButton
  },
  props: {
    color: {
      type: String,
      default: ''
    }
  }
}
</script>
