<template>
  <editor-bar-button icon="horizontalLine" :color="color" action="insertHorizontalRule" snippet="editor.button.horizontal_line"/>
</template>

<script>
import EditorBarButton from '../EditorBarButton'
export default {
  group: {
    name: 'decorators',
    snippet: 'editor.group.horizontal_line',
    icon: 'horizontalLine',
    action: 'insertHorizontalRule'
  },
  components: {
    EditorBarButton
  },
  props: {
    color: {
      type: String,
      default: ''
    }
  }
}
</script>
