<template>
  <editor-bar-button icon="image" :color="color" action="image" snippet="editor.button.image"/>
</template>

<script>
import EditorBarButton from '../EditorBarButton'
export default {
  group: {
    name: 'image',
    snippet: 'editor.group.image',
    icon: 'image',
    action: 'image'
  },
  components: {
    EditorBarButton
  },
  props: {
    color: {
      type: String,
      default: ''
    }
  }
}
</script>
