<template>
  <editor-bar-button icon="formatIndent" :color="color" action="indent" snippet="editor.button.indent"/>
</template>

<script>
import EditorBarButton from '../EditorBarButton'
export default {
  group: {
    name: 'indent-outdent',
    snippet: 'editor.group.indent_outdent',
    icon: 'formatIndent'
  },
  components: {
    EditorBarButton
  },
  props: {
    color: {
      type: String,
      default: ''
    }
  }
}
</script>
