<template>
  <editor-bar-button icon="link" :color="color" action="createLink" snippet="editor.button.link"/>
</template>

<script>
import EditorBarButton from '../EditorBarButton'
export default {
  group: {
    name: 'link',
    snippet: 'editor.group.link',
    icon: 'link'
  },
  components: {
    EditorBarButton
  },
  props: {
    color: {
      type: String,
      default: ''
    }
  }
}
</script>
