<template>
  <editor-bar-button icon="redo" :color="color" action="redo" snippet="editor.button.redo"/>
</template>

<script>
import EditorBarButton from '../EditorBarButton'
export default {
  group: {
    name: 'direction',
    snippet: 'editor.group.direction',
    icon: 'cached'
  },
  components: {
    EditorBarButton
  },
  props: {
    color: {
      type: String,
      default: ''
    }
  }
}
</script>
