<template>
  <v-divider vertical :inset="divider.inset" :style="dividerColor"/>
</template>

<script>
import vColors from "vuetify/lib/util/colors";
import EditorBarButton from '../EditorBarButton'
export default {
  components: {
    EditorBarButton
  },
  computed: {
    extensions() {
      return this.$store.getters['editor/getExtensions']
    },
    divider() {
      return this.$store.getters['editor/getDivider']
    },
    dividerColor() {
      return this.divider.color.length
        ? {backgroundColor: this.getColor(this.divider.color)}
        : {}
    }
  },
  methods: {
    getColor(color) {
      var colors = color.split(' ')
      var theme = this.$vuetify.theme.dark ? 'dark' : 'light'

      if (colors.length >= 1) {
        colors[0] = colors[0].replace(/-([a-z])/g, function (g) { return g[1].toUpperCase(); })
      }

      if (this.$vuetify.theme.themes[theme].hasOwnProperty(colors[0])) {
        return this.$vuetify.theme.themes[theme][colors[0]]
      } else if (vColors.hasOwnProperty(colors[0])) {
        if (colors.length > 1) {
          let brightness = colors[1].split('-').join('')

          return vColors[colors[0]].hasOwnProperty(brightness)
            ? vColors[colors[0]][brightness]
            : (vColors[colors[0]].hasOwnProperty('base')
              ? vColors[colors[0]]['base']
              : this.$vuetify.theme.themes[theme]['primary'])
        } else {
          return vColors[colors[0]].hasOwnProperty('base')
            ? vColors[colors[0]]['base']
            : this.$vuetify.theme.themes[theme]['primary']
        }
      } else {
        return this.$vuetify.theme.themes[theme]['primary']
      }
    }
  }
}
</script>
