<div style="font-family:arial,serif; font-size:12px;">
    {include file="string:{config name=emailheadertml}"}
    <h1>Build notification</h1>
    <p>
        Created: {$date}
    </p>
    <p>
        Plugin: {$plugin}<br>
        Version: {$version}<br>
    </p>
    <p>
        Die Zip-Datei im Anhang wurde vom DC Build-Generator erstellt. <br>
        Alle unrelevanten Dateien wurden entfernt.
    </p>
</div>