<div  style="font-family:arial,serif; font-size:12px;">
    {include file="string:{config name=emailheadertml}"}

    <div style="display: flex; justify-content: start;">
        <img src="{$domain}/custom/plugins/WundeDcompanion/Resources/views/backend/_resources/images/dropshippers-companion-logo.png" height="50" alt=""/>
        <h1 style="margin-left: 15px;">Bestellstatus ({$order.number})</h1>
    </div>

    <p style="margin: 20px 0 3px 0"><b>Kunde</b></p>
    <p style="margin: 0; line-height: 1">
        {if $order.shipping.company != ""}<b>{$order.shipping.company}</b><br>{/if}
        {$order.shipping.firstName} {$order.shipping.lastName}<br>
        {$order.shipping.street}<br>
        {$order.shipping.zipCode} {$order.shipping.city}<br>
        {$order.shipping.country.name}<br>
    </p>

    <p style="margin: 20px 0 3px 0"><b>Bestelldetails</b></p>
    <table style="width: auto; font-size: 12px; border-collapse: collapse; line-height: 1">
        <tr>
            <td style="text-align: left; padding: 0 15px 0 0;">Bestell ID:</td>
            <td style="text-align: left;">{$order.id}</td>
        </tr>
        <tr>
            <td style="text-align: left; padding: 0 15px 0 0;">Bestellnummer:</td>
            <td style="text-align: left;">{$order.number}</td>
        </tr>
        <tr>
            <td style="text-align: left; padding: 0 15px 0 0;">Datum:</td>
            <td style="text-align: left;">{$order.orderTime|date_format:"%d.%m.%Y"}</td>
        </tr>
        <tr>
            <td style="text-align: left; padding: 0 15px 0 0;">Uhrzeit:</td>
            <td style="text-align: left;">{$order.orderTime|date_format:"%H:%M:%S"}</td>
        </tr>
        <tr>
            <td style="text-align: left; padding: 0 15px 0 0;">Status:</td>
            <td style="text-align: left;">{$order.attribute.dcDropshipStatus}</td>
        </tr>
    </table>

    <br><br>

    <table style="border: solid 1px #009FE3;border-collapse: collapse; width: 100%;">
        <thead>
            <tr style="background-color: #009FE3; color: white;">
                <th style="border: solid 1px #009FE3;" colspan="8">Bestellpositionen</th>
            </tr>
            <tr style="background-color: #e0e0e0;">
                <th style="text-align: center; border: solid 1px #e0e0e0; padding: 0 10px;">ID</th>
                <th style="text-align: left; border: solid 1px #e0e0e0; padding: 0 10px;">Artikelname</th>
                <th style="text-align: left; border: solid 1px #e0e0e0; padding: 0 10px;">Artikelnummer</th>
                <th style="text-align: center; border: solid 1px #e0e0e0; padding: 0 10px;">Preis</th>
                <th style="text-align: center; border: solid 1px #e0e0e0; padding: 0 10px;">EAN</th>
                <th style="text-align: left; border: solid 1px #e0e0e0; padding: 0 10px;">Dropship Info</th>
                <th style="text-align: left; border: solid 1px #e0e0e0; padding: 0 10px;">Dropship Datum</th>
                <th style="text-align: left; border: solid 1px #e0e0e0; padding: 0 10px;">Dropship Nachricht</th>
            </tr>
        </thead>
        <tbody>
            {foreach item=position from=$order.details key=index}
                {if $index % 2 == 0}
                    <tr>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px; text-align: center;">{$position.id}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.articleName}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.articleNumber}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px; text-align: center;">{$position.price}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px; text-align: center;">{$position.ean}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.attribute.dcDropshipInfos}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.attribute.dcDropshipDate}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.attribute.dcDropshipStatusMessage}</td>
                    </tr>
                {else}
                    <tr style="background-color: #f5f5f5;">
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px; text-align: center;">{$position.id}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.articleName}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.articleNumber}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px; text-align: center;">{$position.price}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px; text-align: center;">{$position.ean}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.attribute.dcDropshipInfos}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.attribute.dcDropshipDate}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.attribute.dcDropshipStatusMessage}</td>
                    </tr>
                {/if}
            {/foreach}
        </tbody>
    </table>
</div>