<div style="font-family:arial,serif; font-size:12px;">
    {include file="string:{config name=emailheadertml}"}

    <div style="display: flex; justify-content: start;">
        <img src="{$domain}/custom/plugins/WundeDcompanion/Resources/views/backend/_resources/images/dropshippers-companion-logo.png" height="50" alt=""/>
        <h1 style="margin-left: 15px;">Fehler Report</h1>
    </div>

    <p>
        Domain: {$domain}<br>
        Shop: <a href="{$domain}">{$shop}</a><br>
        E-Mail: {email}<br>
        Version: {$version}<br>
        Sprache: {$language}
    </p>
    <br><br>
    <table style="border: solid 1px #009FE3;border-collapse: collapse; width: 100%;">
        <thead>
            <tr style="background-color: #009FE3; color: white;">
                <th style="border: solid 1px #009FE3;" colspan="7">Plugins</th>
            </tr>
            <tr style="background-color: #e0e0e0;">
                <th style="text-align: left; border: solid 1px #e0e0e0; padding: 0 10px;">Name</th>
                <th style="text-align: center; border: solid 1px #e0e0e0; padding: 0 10px;">Version</th>
                <th style="text-align: left; border: solid 1px #e0e0e0; padding: 0 10px;">Label</th>
                <th style="text-align: center; border: solid 1px #e0e0e0; padding: 0 10px;">Installiert am</th>
                <th style="text-align: center; border: solid 1px #e0e0e0; padding: 0 10px;">Aktiv</th>
                <th style="text-align: left; border: solid 1px #e0e0e0; padding: 0 10px;">Author</th>
                <th style="text-align: left; border: solid 1px #e0e0e0; padding: 0 10px;">Link</th>
            </tr>
        </thead>
        <tbody>
            {foreach item=plugin from=$plugins key=index}
                {if $index % 2 == 0}
                    <tr>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$plugin.name}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px; text-align: center;">{$plugin.version}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$plugin.label}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px; text-align: center;">{$plugin.installed|date_format:"%d.%m.%Y %H:%M:%S"}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px; text-align: center;">{if $plugin.active}Ja{else}Nein{/if}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$plugin.author}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$plugin.link}</td>
                    </tr>
                {else}
                    <tr style="background-color: #f5f5f5 ;">
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$plugin.name}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px; text-align: center;">{$plugin.version}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$plugin.label}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px; text-align: center;">{$plugin.installed|date_format:"%d.%m.%Y %H:%M:%S"}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px; text-align: center;">{if $plugin.active}Ja{else}Nein{/if}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$plugin.author}</td>
                        <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$plugin.link}</td>
                    </tr>
                {/if}
            {/foreach}
        </tbody>
    </table>
    <br><br>
    <div style="border: solid 1px #e0e0e0;">
        <span style="display: block;background-color: #009FE3; color: white; text-align: center;"><b>Exception</b></span>
        <pre style="padding: 0 10px;">{$exception}</pre>
    </div>
</div>