{include file="string:{config name=emailheaderhtml}"}
<br><br>
-- Dropshippers Companion Statusmail - BESTELLEINGANG --
<br><br>
Hallo,
<br><br>
es ist eine neue Bestellung eingegangen, diese beinhaltet einen oder mehrere Dropshipping-Artikel.
<br><br>
<b>Die Bestellnummer lautet:</b> {$orderNumber}
<br><br>
{if $dcAutoOrder && $paymentName == "prepayment"}
<b>Achtung: Ihr Kunde hat {$payment.description} als Art der Bezahlung gewählt</b><br>
Der automatisierte Dropshipping-Prozess wurde vorerst unterbrochen. Er wird fortgesetzt, sobald der Bezahlstatus von Ihnen auf "Komplett bezahlt" geändert wurde!<br>
{else}
Ist der Dropshippers Companion auf "Automatik" eingestellt, so ist keine weitere Aktion nötig, andernfalls kontrollieren Sie den Bestelleingang bitte umgehend.
{/if}

