<div style="font-family:arial,serif;">
    {include file="string:{config name=emailheadertml}"}

    <p>
        {if $order.shipping.salutation == "mr"}
            <b>Sehr geehrter Herr {$order.shipping.lastName},</b>
        {else}
            <b>Sehr geehrte Frau {$order.shipping.lastName},</b>
        {/if}
        <br><br>
        wir möchten Sie darüber informieren, dass zu Ihrer Bestellung {$order.number} vom {$orderDate|date_format:"%d.%m.%Y"} folgende Trackinginformationen hinterlegt wurden:
    </p>

    <br><br>

    <table style="border: solid 1px #009FE3;border-collapse: collapse; width: 100%;">
        <thead>
        <tr style="background-color: #e0e0e0;">
            <th style="text-align: left; border: solid 1px #e0e0e0; padding: 0 10px;">Logistikunternehmen</th>
            <th style="text-align: left; border: solid 1px #e0e0e0; padding: 0 10px;">Sendungsnummer</th>
        </tr>
        </thead>
        <tbody>
        {foreach item=trackingCode from=$trackingCodes key=index}
            {if $index % 2 == 0}
                <tr>
                    <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$trackingCode.carrier}</td>
                    <td style="border: solid 1px #e0e0e0; padding: 0 10px;">
                        <a href="{$trackingCode.url}">{$trackingCode.value}</a>
                    </td>
                </tr>
            {else}
                <tr style="background-color: #f5f5f5 ;">
                    <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$trackingCode.carrier}</td>
                    <td style="border: solid 1px #e0e0e0; padding: 0 10px;">
                        <a href="{$trackingCode.url}">{$trackingCode.value}</a>
                    </td>
                </tr>
            {/if}
        {/foreach}
        </tbody>
    </table>

    <br><br>

    <p><b>Wir bedanken uns für Ihre Bestellung!</b></p>
</div>
