<div style="font-family:arial,serif; font-size:12px;">
    {include file="string:{config name=emailheadertml}"}

    <div style="display: flex; justify-content: start;">
        <img src="{$domain}/custom/plugins/WundeDcompanion/Resources/views/backend/_resources/images/dropshippers-companion-logo.png" height="50" alt=""/>
        <h1 style="margin-left: 15px;">Sendungsverfolgung</h1>
    </div>

    <p>Für die Bestellung {$order.number} sind neue Sendungsdaten verfügbar</p>

    <table style="font-size: 1em; border-collapse: collapse;;">
        <tr>
            <th colspan="2" style="text-align: left">Bestellung</th>
        </tr>
        <tr>
            <td>Datum:</td>
            <td>{$orderDate|date_format:"%d.%m.%Y %H:%M:%S"}</td>
        </tr>
        <tr>
            <td>ID:</td>
            <td>{$order.id}</td>
        </tr>
        <tr>
            <td>Bestellnummer:</td>
            <td>{$order.number}</td>
        </tr>
    </table>

    <br><br>

    <table style="font-size: 1em; border-collapse: collapse;">
        <tr>
            <th colspan="2" style="text-align: left">Empfänger</th>
        </tr>
        <tr>
            <td>{$order.shipping.firstName} {$order.shipping.lastName}</td>
        </tr>
        <tr>
            <td>{$order.shipping.street}</td>
        </tr>
        <tr>
            <td>{$order.shipping.zipCode} {$order.shipping.city}</td>
        </tr>
        <tr>
            <td>{$order.shipping.phone}</td>
        </tr>
    </table>

    <br><br>

    <p>Alle relevanten Daten wurden bereits im Backend Ihres Onlineshops hinterlegt und können dort jederzeit abgefragt werden.</p>

    <br><br>

    <table style="border: solid 1px #009FE3;border-collapse: collapse; width: 100%;">
        <thead>
        <tr style="background-color: #009FE3; color: white;">
            <th style="border: solid 1px #009FE3;" colspan="7">Bestellpositionen</th>
        </tr>
        <tr style="background-color: #e0e0e0;">
            <th style="text-align: left; border: solid 1px #e0e0e0; padding: 0 10px;">Position ID</th>
            <th style="text-align: center; border: solid 1px #e0e0e0; padding: 0 10px;">Artikelnummer</th>
            <th style="text-align: center; border: solid 1px #e0e0e0; padding: 0 10px;">Artikelname</th>
            <th style="text-align: center; border: solid 1px #e0e0e0; padding: 0 10px;">Großhändler</th>
            <th style="text-align: left; border: solid 1px #e0e0e0; padding: 0 10px;">Logistikunternehmen</th>
            <th style="text-align: center; border: solid 1px #e0e0e0; padding: 0 10px;">Sendungsnummer</th>
        </tr>
        </thead>
        <tbody>
        {foreach item=position from=$order.details key=index}
            {if $index % 2 == 0}
                <tr>
                    <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.id}</td>
                    <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.articleNumber}</td>
                    <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.articleName}</td>
                    <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.attribute.dcNameLong}</td>
                    <td style="border: solid 1px #e0e0e0; padding: 0 10px;">
                        {foreach item=carrier from=$position.attribute.dcDropshipTrackingCarrier key=carrierIndex}
                            <a href="{$carrier.url}">{$carrier.value}</a>
                            {if $carrierIndex != count($position.attribute.dcDropshipTrackingCarrier) - 1}
                                <span>, </span>
                            {/if}
                        {/foreach}
                    </td>
                    <td style="border: solid 1px #e0e0e0; padding: 0 10px;">
                        {foreach item=tracking from=$position.attribute.dcDropshipTrackingCode key=trackingIndex}
                            <a href="{$tracking.url}">{$tracking.value}</a>
                            {if $trackingIndex != count($position.attribute.dcDropshipTrackingCode) - 1}
                                <span>, </span>
                            {/if}
                        {/foreach}
                    </td>
                </tr>
            {else}
                <tr style="background-color: #f5f5f5 ;">
                    <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.id}</td>
                    <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.articleNumber}</td>
                    <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.articleName}</td>
                    <td style="border: solid 1px #e0e0e0; padding: 0 10px;">{$position.attribute.dcNameLong}</td>
                    <td style="border: solid 1px #e0e0e0; padding: 0 10px;">
                        {foreach item=carrier from=$position.attribute.dcDropshipTrackingCarrier key=carrierIndex}
                            <a href="{$carrier.url}">{$carrier.value}</a>
                            {if $carrierIndex != count($position.attribute.dcDropshipTrackingCarrier) - 1}
                                <span>, </span>
                            {/if}
                        {/foreach}
                    </td>
                    <td style="border: solid 1px #e0e0e0; padding: 0 10px;">
                        {foreach item=tracking from=$position.attribute.dcDropshipTrackingCode key=trackingIndex}
                            <a href="{$tracking.url}">{$tracking.value}</a>
                            {if $trackingIndex != count($position.attribute.dcDropshipTrackingCode) - 1}
                                <span>, </span>
                            {/if}
                        {/foreach}
                    </td>
                </tr>
            {/if}
        {/foreach}
        </tbody>
    </table>
</div>