<div style="font-family:arial,serif; font-size:12px;">
    {include file="string:{config name=emailheadertml}"}

    <div style="display: flex; justify-content: start;">
        <img src="{$domain}/custom/plugins/WundeDcompanion/Resources/views/backend/_resources/images/dropshippers-companion-logo.png" height="50" alt=""/>
        <h1 style="margin-left: 15px;">Deinstallationsbenachrichtigung</h1>
    </div>

    <p>
        Firma: {include file="string:{config name=company}"}<br>
        Adresse: {include file="string:{config name=address}"}<br>
        Email: {include file="string:{config name=mail}"}<br><br>
        Datum: {$date|date_format:"%d.%m.%Y %H:%M:%S"}<br>
        Domain: {$domain}<br>
        Shop: {include file="string:{config name=shopName}"}<br>
        Version: {include file="string:{config name=version}"}<br>
        Language: {$language}
    </p>
</div>