<template>
  <v-hover v-slot="{ hover }">
    <v-btn
      :small="small"
      :height="dense ? 40 : '100%'"
      tile
      :dark="dark"
      :color="hover ? hoverColor : color"
      text
      @click="onClick($refs[action].$el)"
      :data-action="action"
      :ref="action"
    >
      <v-tooltip bottom v-if="snippet.length > 0">
        <template v-slot:activator="{ on, attrs }">
          <v-icon v-bind="attrs" v-on="on">$vuetity.icons.{{ icon }}</v-icon>
        </template>
        <span>{{ $t(snippet) }}</span>
      </v-tooltip>
      <v-icon v-if="snippet.length === 0">$vuetity.icons.{{ icon }}</v-icon>
    </v-btn>
  </v-hover>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      required: true
    },
    snippet: {
      type: String,
      default: ''
    },
    tooltip: {
      type: String,
      default: ''
    },
    action: {
      type: String,
      required: true
    }
  },
  data: () => ({
    hoverColor: '',
    color: '',
    dark: false,
    small: false,
    editor: null
  }),
  methods: {
    onClick(element) {
      if (element.dataset.action !== undefined) {
        this.editor.$emit('vuetify-editor-action', element)
      }
    }
  },
  computed: {
    dense() {
      return this.$store.getters['editor/getDense']
    }
  },
  mounted() {
    this.small = this.$store.state.editor.small
    this.dark = this.$store.state.editor.dark
    this.color = this.$store.state.editor.color
    this.hoverColor = this.$store.state.editor.hoverColor
    this.editor = this.$store.state.editor.instance
  },
}
</script>
