<template>
  <div style="height: 100%; width: auto;" :style="{backgroundColor: getColor(backgroundColor), color: getColor(color), borderRight: `solid 1px ${getColor(dividerColor)}`}">
    <div v-for="(group, gKey) in extensionGroups" :key="gKey">
      <v-menu top offset-x tile content-class="elevation-0">
        <template v-slot:activator="menuActivator">
          <v-hover v-slot="{ hover }" v-if="group.components.length > 1">
            <v-btn
              :small="small"
              :height="dense ? 40 : '100%'"
              tile
              :dark="dark"
              :color="hover ? hoverColor : color"
              text
              v-bind="menuActivator.attr"
              v-on="menuActivator.on"
            >
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon v-bind="attrs" v-on="on">$vuetity.icons.{{ group.icon }}</v-icon>
                </template>
                <span>{{ $t(group.snippet) }}</span>
              </v-tooltip>
            </v-btn>
          </v-hover>
          <v-hover v-slot="{ hover }" v-if="group.components.length === 1">
            <v-btn
              :small="small"
              :height="dense ? 40 : '100%'"
              tile
              :dark="dark"
              :color="hover ? hoverColor : color"
              text
              :ref="group.action"
              @click="onClick($refs[group.action][0].$el)"
              :data-action="group.action"
            >
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon v-bind="attrs" v-on="on">$vuetity.icons.{{ group.icon }}</v-icon>
                </template>
                <span>{{ $t(group.snippet) }}</span>
              </v-tooltip>
            </v-btn>
          </v-hover>
        </template>

        <v-list v-if="group.components.length > 1" :color="getColor(backgroundColor)" :style="{border: `solid 1px ${getColor(dividerColor)}`}">
          <v-list-item v-for="(extension, eKey) in group.components" :key="eKey" class="pa-0">
            <component :is="extension"/>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>
  </div>
</template>

<script>
import EditorSidebarButton from './EditorSidebarButton'
import vColors from "vuetify/lib/util/colors";
export default {
  components: {
    EditorSidebarButton
  },
  data: () => ({
    small: false,
    editor: null
  }),
  computed: {
    style() {

    },
    hoverColor() {
      return this.$store.getters['editor/getHoverColor']
    },
    dense() {
      return this.$store.getters['editor/getDense']
    },
    dark() {
      return this.$store.getters['editor/getDark']
    },
    backgroundColor() {
      return this.$store.getters['editor/getBackgroundColor']
    },
    color() {
      return this.$store.getters['editor/getColor']
    },
    extensionGroups() {
      return this.$store.getters['editor/getExtensionGroups']
    },
    divider() {
      return this.$store.getters['editor/getDivider']
    },
    dividerColor() {
      return this.divider.color.length
        ? this.divider.color
        : 'grey lighten-1'
    }
  },
  mounted() {
    this.small = this.$store.state.editor.small
    this.editor = this.$store.state.editor.instance
  },
  methods: {
    onClick(element) {
      if (element.dataset.action !== undefined) {
        this.editor.$emit('vuetify-editor-action', element)
      }
    },
    getColor(color) {
      var colors = color.split(' ')
      var theme = this.$vuetify.theme.dark ? 'dark' : 'light'

      if (colors.length >= 1) {
        colors[0] = colors[0].replace(/-([a-z])/g, function (g) { return g[1].toUpperCase(); })
      }

      if (this.$vuetify.theme.themes[theme].hasOwnProperty(colors[0])) {
        return this.$vuetify.theme.themes[theme][colors[0]]
      } else if (vColors.hasOwnProperty(colors[0])) {
        if (colors.length > 1) {
          let brightness = colors[1].split('-').join('')

          return vColors[colors[0]].hasOwnProperty(brightness)
            ? vColors[colors[0]][brightness]
            : (vColors[colors[0]].hasOwnProperty('base')
              ? vColors[colors[0]]['base']
              : this.$vuetify.theme.themes[theme]['primary'])
        } else {
          return vColors[colors[0]].hasOwnProperty('base')
            ? vColors[colors[0]]['base']
            : this.$vuetify.theme.themes[theme]['primary']
        }
      } else {
        return this.$vuetify.theme.themes[theme]['primary']
      }
    }
  }
}
</script>
