<template>
  <v-hover v-slot="{ hover }">
    <v-btn
      :small="small"
      :height="dense ? 40 : '100%'"
      tile
      :dark="dark"
      :color="hover ? hoverColor : color"
      text
      :data-action="action"
      :ref="action"
    >
      <v-icon>$vuetity.icons.{{ icon }}</v-icon>
    </v-btn>
  </v-hover>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      required: true
    },
    tooltip: {
      type: String,
      default: ''
    },
    action: {
      type: String
    }
  },
  data: () => ({
    hoverColor: '',
    color: '',
    dark: false,
    small: false,
    editor: null
  }),
  computed: {
    dense() {
      return this.$store.getters['editor/getDense']
    }
  },
  mounted() {
    this.small = this.$store.state.editor.small
    this.dark = this.$store.state.editor.dark
    this.color = this.$store.state.editor.color
    this.hoverColor = this.$store.state.editor.hoverColor
    this.editor = this.$store.state.editor.instance
  },
}
</script>
