<template>
  <v-app>
    <v-container
      class="fill-height"
      fluid
      v-if="!loaded"
    >
      <v-row
        align="center"
        justify="center"
      >
        <v-col class="shrink">
          <v-progress-circular
            :size="150"
            :width="7"
            color="primary"
            indeterminate
          >
            <v-img
              :src="logo"
              max-height="50"
              contain
            ></v-img>
          </v-progress-circular>
        </v-col>
      </v-row>
    </v-container>
    <transition name="fade">
      <router-view v-if="loaded"/>
    </transition>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    loaded: false,
    value: 0
  }),
  mounted() {
    this.loaded = false
    this.value = 0;

    Promise.all([
      this.$store.dispatch('settings/load'),
      this.$store.dispatch('themes/load'),
      this.$store.dispatch('menus/load'),
    ])
      .catch(() => {
        // TODO: show error message
      })
      .finally(() => {
        this.loaded = true
      })
  },
  computed: {
    logo() {
      return window.location.hostname === 'localhost'
        ? 'https://sw560-3.wmadc-dev.de/custom/plugins/WundeDcompanion/Resources/views/backend/_resources/images/dropshippers-companion-logo.png'
        : '/custom/plugins/WundeDcompanionManager/Resources/views/backend/_resources/images/dropshippers-companion-logo.png'
    }
  }
}
</script>

<style lang="scss">
html {
  overflow-y: auto;
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .3s;
}

.fade-enter-active {
  transition-delay: .3s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  transition: background 200ms ease 0s;
}

::-webkit-scrollbar-thumb:hover {
  background: #009FE3;
}
</style>
