<template>
  <v-app>
    <v-editor
      v-model="content"
      :extensions="extensions"
      elevation="10"
      dense
      tile
      height="500"
      error-color="red"
      success-color="green"
      counter
      min="20"
      divider-inset
      hover-color="purple"
      background-color="grey lighten-2"
    />
  </v-app>
</template>

<script>
import VEditor from './components/Editor'
import EditorExtensions from './components/editor/extensions'
export default {
  components: {
    VEditor
  },
  data: () => ({
    content: '',
    extensions: [
      EditorExtensions.Undo,
      EditorExtensions.Redo,
      EditorExtensions.Separator,
      EditorExtensions.FormatUnderline,
      EditorExtensions.FormatStriketrough,
      EditorExtensions.FormatItalic,
      EditorExtensions.FormatBold,
      EditorExtensions.FormatSize,
      EditorExtensions.Separator,
      EditorExtensions.FormatAlignLeft,
      EditorExtensions.FormatAlignCenter,
      EditorExtensions.FormatAlignRight,
      EditorExtensions.FormatAlignBlock,
      EditorExtensions.Separator,
      EditorExtensions.FormatListBulleted,
      EditorExtensions.FormatListNumbered,
      EditorExtensions.Separator,
      EditorExtensions.Outdent,
      EditorExtensions.Indent,
      EditorExtensions.Separator,
      EditorExtensions.HorizontalLine,
      // EditorExtensions.Separator,
      // EditorExtensions.Link,
      EditorExtensions.Separator,
      EditorExtensions.Image,
      EditorExtensions.Separator,
      EditorExtensions.Code,
    ]
  })
}
</script>
