.dropshippers-companion-icon {
    background-image: url("../../images/dropshippers-companion-icon.png");
}

.dropshippers-companion-configuration-icon {
    background-image: url("../../images/dropshippers-companion-icon.png");
    background-position: 0 -2px;
}

.dropshippers-companion-configuration .x-window-header-text-container {
    padding-left: 2px !important;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation {
    font-size: 12px;
    border-right: 1px solid #A8B9C3 !important;
    background: #EFF3F4 !important;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .brand {
    color: #667A85;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .brand .picture {
    width: 80px;
    height: 54px;
    margin: 30px auto 10px;
    background: url("../../images/dropshippers-companion-logo.png") no-repeat;
    background-size: 80px;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .brand .headline {
    font-size: 16px;
    text-align: center;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .navigation-headline {
    color: #93a3af;
    border-bottom: 1px solid #D5DFE4;
    padding-bottom: 5px !important;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .navigation-item {
    color: #667A85;
    cursor: pointer;
    margin-bottom: 5px;
    position: relative;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .navigation-item a {
    text-decoration: none;
    color: #667A85;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .navigation-item .badge {
    display: inline-block;
    background: #415c69;
    color: #fff;
    border-radius: 20px;
    margin-left: 10px;
    padding: 2px 10px;
    font-size: 11px;
    font-weight: 700;
    transition: all 200ms ease 0s;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .navigation-item .content {
    padding: 3px 10px;
    border-radius: 20px;
    display: inline-block;
    transition: all 200ms ease 0s;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .navigation-item .content.has-badge {
    padding: 2px 2px 2px 10px;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .navigation-item .node-lines {
    height: 16px;
    width: 10px;
    left: -9px;
    position: absolute;
    top: -4px;
    border-bottom: 1px dotted #c4c4c4;
    border-left: 1px dotted #c4c4c4;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .navigation-level {
    padding-left: 10px;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .navigation-level.sub-level {
    padding-left: 25px;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .navigation-item:hover .content {
    background: #415c69;
    color: #fff;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .navigation-item:hover .content a {
    background: #415c69;
    color: #fff;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .navigation-item:hover .badge {
    background: #fff;
    color: #415c69;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .navigation-item.active .content {
    background: #0082EA;
    color: #fff;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .navigation-item.active .badge {
    background: #fff;
    color: #415c69;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .navigation-item.x-item-disabled {
    color: #c4c4c4 !important;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .navigation-item.x-item-disabled .x-mask {
    background: none;
}

.dropshippers-companion-configuration .dropshippers-companion-navigation .navigation-item.x-item-disabled a {
    color: #c4c4c4 !important;
}

.dropshippers-companion-configuration .dropshippers-companion-ticket-grid {
    border: none !important;
}

.dropshippers-companion-configuration .dropshippers-companion-ticket-grid .sprite-star,
.dropshippers-companion-configuration .dropshippers-companion-ticket-grid .sprite-star-empty{
    margin: 0 !important;
}

.dropshippers-companion-configuration .dropshippers-companion-ticket-grid .priority {
    display: block;
    height: 12px;
    width: 12px;
    margin: 0 auto;
    border-radius: 2px;
    padding-top: 0;
}

.dropshippers-companion-configuration .dropshippers-companion-page.dropshippers-companion-trash-page .trash-headline {
    color: #93a3af;
    border-bottom: 1px solid #D5DFE4 !important;
    font-size: 1.4em;
}

.dropshippers-companion-configuration .ticket-comment-panel .x-panel-body {
    background-image: url("../../images/dc-bg-woman.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.dropshippers-companion-configuration .comment-container {
    border-radius: 4px;
}

.dropshippers-companion-configuration .comment-container.developer-message {
    border: solid 1px #d5dce0 !important;
    background: rgba(236,239,241,.7);
}

.dropshippers-companion-configuration .comment-container > * {
    overflow: auto;
}

.dropshippers-companion-configuration .comment-container.shop-message {
    border: solid 1px #74c1ff !important;
    background: rgba(175, 220, 255, .7);
}

.dropshippers-companion-configuration .comment-container .developer-message-date,
.dropshippers-companion-configuration .comment-container .shop-message-date {
    color: #5e7280;
    font-size: .9em;
}

.dropshippers-companion-configuration .comment-container .comment-author-date-container.developer-message {
    border-bottom: solid 1px #d5dce0;
}

.dropshippers-companion-configuration .comment-container .comment-author-date-container.shop-message {
    border-bottom: solid 1px #74c1ff;
}

.dropshippers-companion-configuration .comment-container .developer-message-author {
    color: #5e7280;
}

.dropshippers-companion-configuration .comment-container .shop-message-author {
    color: #0082EA;
}

.dropshippers-companion-configuration .comment-container .developer-message-author,
.dropshippers-companion-configuration .comment-container .shop-message-author {
    font-weight: bold;
}

.x-container.block-message-inner.dc-dropship-info {
    text-align: center;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, .3);
    font-weight: bold;
    font-size: 16px;
    padding: 15px 20px !important;
}
