<template>
  <v-container>
    <div class="mt-4">
      <span class="text-h6 text--secondary">Hauptplugin</span>
      <v-divider class="mb-4"/>
      <v-plugin
        :plugin="plugins.core"
        elevation="0"
        outlined
        tile
        show-logo logo-color="grey lighten-2"
      />
    </div>
    <div class="mt-8">
      <span class="text-h6 text--secondary">Großhandelsplugins</span>
      <v-divider class="mb-4"/>
      <v-row>
        <v-col
          v-for="(extension, eKey) in plugins.extensions"
          :key="eKey"
          cols="12"
          sm="12"
          lg="6"
          xl="4"
        >
          <v-plugin
            class="mb-4"
            :plugin="extension"
            elevation="0"
            outlined
            tile
            show-logo logo-color="grey lighten-2"
          />
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script>
import VPlugin from '../../components/Plugin'
export default {
  components: {
    VPlugin
  },
  data: () => ({
    loading: true,
    plugins: {
      core: null,
      extensions: []
    }
  }),
  mounted() {
    this.loading = true
    this.$store.dispatch('config/load')
      .then(config => {
        var plugins = config.hasOwnProperty('plugins') ? config.plugins : []

        this.plugins.core = plugins.find(plugin => plugin.name === 'WundeDcompanion')
        this.plugins.extensions = plugins.filter(plugin => plugin.name !== 'WundeDcompanion')
      })
      .finally(() => {
        this.loading = false
      })
  },
}
</script>
