<template>
  <div class="contact d-flex flex-column fill-height justify-start">
    <toolbar/>
    <v-container>
      <v-text-field
        required
        :label="$t('subject')"
        counter
        :rules="[v => (v && v.length >= subjectMinLength) || $t('min.length_20')]"
        v-model="subject"
        outlined
      >
        <template v-slot:counter="{ props }">
          {{ props.value }}/{{ subjectMinLength }}
        </template>
      </v-text-field>
      <v-editor
        v-model="content"
        :extensions="extensions"
        elevation="0"
        dense
        counter
        :min="contentMinLength"
        height="394"
        min-text="min.length_formatted"
        error-color="red lighten-1"
        divider-inset
        :editor-detail-style="{paddingTop: '6px'}"
        hover-color="primary"
        background-color="grey lighten-3"
      />
      <p class="datenschutz mt-10">
        <strong>{{ $t('menu.privacy') }}</strong>
        {{ $t('contact.privacy') }}
        <router-link :to="{name: 'privacy'}">{{ $t('privacy_page') }}</router-link>
      </p>
      <v-checkbox v-model="accepted" :label="$t('contact.accept_privacy')"/>
    </v-container>
    <v-spacer/>

    <v-divider/>
    <div :style="{backgroundColor: getColor('grey lighten-3')}" style="height: 50px" class="d-flex">
      <v-spacer/>
      <v-btn text tile height="100%" color="green" @click="send" :disabled="isSubmitButtonDisabled">
        <v-icon left>check</v-icon>
        {{ $t('submit') }}
      </v-btn>
    </div>
  </div>
</template>

<script>
import Toolbar from '../components/Toolbar'
import vColors from "vuetify/lib/util/colors";
import VEditor from '../components/Editor'
import EditorExtensions from "../components/editor/extensions";

export default {
  components: {
    VEditor,
    Toolbar
  },
  data: () => ({
    subject: '',
    content: '',
    accepted: false,
    loading: false,
    contentMinLength: 50,
    subjectMinLength: 20,
    extensions: [
      EditorExtensions.Undo,
      EditorExtensions.Redo,
      EditorExtensions.Separator,
      EditorExtensions.FormatUnderline,
      EditorExtensions.FormatStriketrough,
      EditorExtensions.FormatItalic,
      EditorExtensions.FormatBold,
      EditorExtensions.FormatSize,
      EditorExtensions.Separator,
      EditorExtensions.FormatAlignLeft,
      EditorExtensions.FormatAlignCenter,
      EditorExtensions.FormatAlignRight,
      EditorExtensions.FormatAlignBlock,
      EditorExtensions.Separator,
      EditorExtensions.FormatListBulleted,
      EditorExtensions.FormatListNumbered,
      EditorExtensions.Separator,
      EditorExtensions.Outdent,
      EditorExtensions.Indent,
      EditorExtensions.Separator,
      EditorExtensions.HorizontalLine,
      EditorExtensions.Separator,
      EditorExtensions.Link,
      EditorExtensions.Separator,
      EditorExtensions.Image,
      EditorExtensions.Separator,
      EditorExtensions.Code,
    ],
  }),
  computed: {
    isSubmitButtonDisabled() {
      return !this.accepted ||
        this.content.length < this.contentMinLength ||
        this.subject.length < this.subjectMinLength
    }
  },
  methods: {
    send() {
      let data = {
        subject: this.subject,
        content: this.content
      }

      this.loading = true;
      this.clear()

      this.$store.dispatch('contact/send', data)
        .then(() => {
          console.log('email erfolgreich gesendet')
        })
        .finally(() => {
          this.loading = false
        })
    },
    clear() {
      this.subject = ''
      this.content = ''
      this.accepted = false

      this.$root.$emit('vuetify-editor-clear')
    },
    getColor(color) {
      var colors = color.split(' ')
      var theme = this.$vuetify.theme.dark ? 'dark' : 'light'

      if (colors.length >= 1) {
        colors[0] = colors[0].replace(/-([a-z])/g, function (g) { return g[1].toUpperCase(); })
      }

      if (this.$vuetify.theme.themes[theme].hasOwnProperty(colors[0])) {
        return this.$vuetify.theme.themes[theme][colors[0]]
      } else if (vColors.hasOwnProperty(colors[0])) {
        if (colors.length > 1) {
          let brightness = colors[1].split('-').join('')

          return vColors[colors[0]].hasOwnProperty(brightness)
            ? vColors[colors[0]][brightness]
            : (vColors[colors[0]].hasOwnProperty('base')
              ? vColors[colors[0]]['base']
              : this.$vuetify.theme.themes[theme]['primary'])
        } else {
          return vColors[colors[0]].hasOwnProperty('base')
            ? vColors[colors[0]]['base']
            : this.$vuetify.theme.themes[theme]['primary']
        }
      } else {
        return this.$vuetify.theme.themes[theme]['primary']
      }
    }
  }
}
</script>
