<template>
  <div class="imprint fill-height">
    <toolbar/>
    <div v-if="text.length > 0 && !loading">
      <v-container class="py-10 px-md-16" v-html="text"/>
    </div>

    <v-container v-if="text.length === 0 && !loading" class="py-10 px-md-16">
      <v-alert
        color="red"
        dark
        icon="$vuetify.icons.error"
        border="left"
        prominent
        dense
      >
        {{ $t('imprint.not_found') }}
      </v-alert>
    </v-container>

    <v-container class="fill-height" fluid v-if="loading">
      <v-row align="center" justify="center">
        <v-col class="shrink">
          <v-progress-circular
            :size="150"
            :width="7"
            color="primary"
            indeterminate
          >
            {{ $t('loading') }}
          </v-progress-circular>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Toolbar from '../components/Toolbar'
export default {
  components: {
    Toolbar
  },
  data: () => ({
    text: '',
    loading: true
  }),
  mounted() {
    this.loading = true
    this.$store.dispatch('snippets/imprint')
      .then(text => {
        this.text = text !== null && text !== undefined ? text : ''
      })
      .finally(() => {
        this.loading = false
      })
  }
}
</script>
