<template>
  <div class="privacy fill-height">
    <toolbar/>
    <div v-if="text.length > 0 && !loading">
      <v-container class="py-10 px-md-16" v-html="text"/>
    </div>

    <v-container v-if="text.length === 0 && !loading" class="py-10 px-md-16">
      <v-alert
        color="red"
        dark
        icon="$vuetify.icons.error"
        border="left"
        prominent
        dense
      >
        {{ $t('privacy.not_found') }}
      </v-alert>
    </v-container>

    <v-app-bar dense flat bottom clipped-left style="position: absolute" color="grey lighten-3" v-if="!accepted && !loading">
      <v-spacer/>
      <v-btn text tile height="100%" color="red" @click="decline">
        <v-icon left>close</v-icon>
        {{ $t('decline') }}
      </v-btn>
      <v-btn text tile height="100%" color="green" @click="accept">
        <v-icon left>check</v-icon>
        {{ $t('accept') }}
      </v-btn>
    </v-app-bar>

    <v-container class="fill-height" fluid v-if="loading">
      <v-row align="center" justify="center">
        <v-col class="shrink">
          <v-progress-circular
            :size="150"
            :width="7"
            color="primary"
            indeterminate
          >
            {{ $t('loading') }}
          </v-progress-circular>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Toolbar from '../components/Toolbar'
export default {
  components: {
    Toolbar
  },
  data: () => ({
    text: '',
    loading: true
  }),
  mounted() {
    this.loading = true
    this.$store.dispatch('snippets/privacy')
      .then(text => {
        this.text = text !== null && text !== undefined ? text : ''
      })
      .finally(() => {
        this.loading = false
      })
  },
  computed: {
    accepted() {
      return this.$store.getters['settings/isPrivacyAccepted']
    }
  },
  methods: {
    decline() {
      console.log('Privacy declined')
    },
    accept() {
      this.$store.commit('settings/setPrivacy', false)
    }
  }
}
</script>
