<template>
  <div class="fill-height">
    <toolbar>
      <template v-slot:menu>
        <v-btn
          v-for="(menu, mKey) in menus"
          :key="mKey"
          :to="{name: menu.to}"
          tile
          text
          elevation="0"
          height="100%"
          v-if="!menu.hidden"
          :disabled="menu.disabled"
          :color="menu.color"
        >
          <v-icon left v-if="menu.hasOwnProperty('icon') && menu.icon.length !== 0">$vuetity.icons.{{ menu.icon }}</v-icon>
          {{ $t(menu.snippet) }}
        </v-btn>
      </template>
    </toolbar>
    <transition name="fade">
      <router-view/>
    </transition>
  </div>
</template>

<script>
import Toolbar from '../components/Toolbar'
import VLoading from '../components/Loading'
export default {
  components: {
    VLoading,
    Toolbar
  },
  data: () => ({
    menus: []
  }),
  mounted() {
    this.menus = this.$store.getters['menus/getSettingsMenu']

    if (this.$route.name === 'settings') {
      this.$router.push({name: 'plugins'})
    }
  }
}
</script>
