<template>
  <div class="tickets">
    <toolbar/>
    <v-app-bar dense flat>
      <v-btn dark fab elevation="0" small color="primary" :disabled="loading" @click="create">
        <v-icon>$vuetity.icons.add</v-icon>
      </v-btn>
      <v-spacer/>
      <v-text-field
        v-model="search"
        :label="$t('search')"
        solo
        flat
        clearable
        single-line
        hide-details
        dense
      >
        <template v-slot:append>
          <v-icon>$vuetity.icons.search</v-icon>
        </template>
      </v-text-field>
      <v-btn fab elevation="0" small class="ml-3" :disabled="loading" @click="fetchData" plain>
        <v-icon>$vuetity.icons.refresh</v-icon>
      </v-btn>
      <v-btn fab elevation="0" small class="ml-3" :disabled="loading" @click="deleteMultipleTickets" plain>
        <v-icon>$vuetity.icons.delete</v-icon>
      </v-btn>
      <v-menu v-model="columnSelector" :close-on-content-click="false" :nudge-width="200" offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            fab
            elevation="0"
            v-bind="attrs"
            v-on="on"
            plain
            small
            class="ml-3"
            @click="dialogs.filter = true"
            :disabled="loading"
          >
            <v-icon>$vuetity.icons.filterList</v-icon>
          </v-btn>
        </template>

        <v-card>
          <v-list dense>
            <v-list-item v-for="(column, columnKey) in headers" :key="columnKey" v-if="column.hidable" :disabled="columnFilter.disabled">
              <v-list-item-action>
                <v-switch color="primary" v-model="column.show" @change="saveTicketHeaders"></v-switch>
              </v-list-item-action>
              <v-list-item-title>{{ $t(column.text) }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
    </v-app-bar>
    <v-data-table
      :dense="dense"
      :headers="ticketHeaders"
      :items="tickets"
      class="elevation-0"
      multi-sort
      sort-desc
      :sort-by="loading || tickets.length === 0 ? null : 'createdAt'"
      v-model="selected"
      show-select
      :search="search"
      calculate-widths
      :loading="loading"
      :footer-props="footerProps"
      :loading-text="$t('tickets.loading')"
    >
      <template v-slot:header.data-table-select="{ props, on }">
        <v-simple-checkbox
          color="primary"
          v-ripple
          v-bind="props"
          v-on="on"
          on-icon="$vuetity.icons.checkBoxChecked"
          off-icon="$vuetity.icons.checkBoxUnchecked"
        />
      </template>
      <template v-slot:header.id="{ header }">
        {{ $t(header.text) }}
      </template>
      <template v-slot:header.subject="{ header }">
        <v-icon small style="margin-bottom: 2px;">$vuetity.icons.edit</v-icon>
        {{ $t(header.text) }}
      </template>
      <template v-slot:header.state="{ header }">
        <v-icon small style="margin-bottom: 2px;">$vuetity.icons.edit</v-icon>
        {{ $t(header.text) }}
      </template>
      <template v-slot:header.priority="{ header }">
        <v-icon small style="margin-bottom: 2px;">$vuetity.icons.edit</v-icon>
        {{ $t(header.text) }}
      </template>
      <template v-slot:header.comments="{ header }">
        {{ $t(header.text) }}
      </template>
      <template v-slot:header.creator="{ header }">
        {{ $t(header.text) }}
      </template>
      <template v-slot:header.rating="{ header }">
        <v-icon small style="margin-bottom: 2px;">$vuetity.icons.edit</v-icon>
        {{ $t(header.text) }}
      </template>
      <template v-slot:header.createdAt="{ header }">
        {{ $t(header.text) }}
      </template>
      <template v-slot:header.editor="{ header }">
        {{ $t(header.text) }}
      </template>
      <template v-slot:item.id="props">
        <v-edit-dialog
          :return-value.sync="props.item.id"
          @save="save"
          @cancel="cancel"
          @open="open"
          @close="close"
        >
          {{ props.item.id }}
          <template v-slot:input>
            <v-text-field
              v-model="props.item.id"
              label="Edit"
              single-line
              counter
            ></v-text-field>
          </template>
        </v-edit-dialog>
      </template>
      <template v-slot:item.actions="{ item }">
        <div style="min-width: 100px; white-space: nowrap;">
          <v-icon
            small
            class="mr-2"
            color="grey"
            :title="$t('print')"
            :disabled="loading"
          >
            $vuetity.icons.print
          </v-icon>
          <v-icon
            small
            class="mr-2"
            color="blue lighten-1"
            :title="$t('edit')"
            :disabled="loading"
            @click="onSelectTicket(item)"
          >
            $vuetity.icons.eye
          </v-icon>
          <v-icon
            small
            class="mr-2"
            color="teal lighten-2"
            :title="$t('edit')"
            :disabled="loading"
          >
            $vuetity.icons.edit
          </v-icon>
          <v-icon
            small
            class="mr-2"
            color="indigo lighten-2"
            :title="$t('duplicate')"
            @click="duplicateTicket(item)"
            :disabled="loading"
          >
            $vuetity.icons.addToPhotos
          </v-icon>
          <v-icon
            small
            color="red lighten-2"
            :title="$t('delete')"
            @click="deleteTicket(item)"
            :disabled="loading"
          >
            $vuetity.icons.delete
          </v-icon>
        </div>
      </template>
      <template v-slot:no-data>
        {{ $t('tickets.not_available') }}
      </template>
      <template v-slot:item.data-table-select="{ isSelected, select }">
        <v-simple-checkbox
          color="primary"
          v-ripple
          :value="isSelected"
          @input="select($event)"
          on-icon="$vuetity.icons.checkBoxChecked"
          off-icon="$vuetity.icons.checkBoxUnchecked"
        ></v-simple-checkbox>
      </template>
      <template v-slot:item.id="{ item }">
        {{ item.uid }}
      </template>
      <template v-slot:item.rating="{ item }">
        <v-rating
          half-icon="$vuetity.icons.starHalf"
          empty-icon="$vuetity.icons.starEmpty"
          full-icon="$vuetity.icons.starFull"
          dense
          half-increments
          hover
          :color="loading ? 'grey' : 'amber'"
          background-color="grey lighten-2"
          length="5"
          v-model="item.rating"
          @input="save(item)"
          clearable
          :readonly="loading"
        ></v-rating>
      </template>
      <template v-slot:item.subject="{ item }">
        <v-edit-dialog
          :return-value.sync="item.subject"
          large
          persistent
          @save="save(item)"
          :cancel-text="$t('cancel')"
          :save-text="$t('save')"
          :disabled="loading"
        >
          {{ cutText(item.subject, subjectMaxLength) }}
          <template v-slot:input>
            <v-text-field
              v-model="item.subject"
              label="Edit"
              single-line
              counter
              autofocus
            ></v-text-field>
          </template>
        </v-edit-dialog>
      </template>
      <template v-slot:item.priority="{ item }">
        <v-edit-dialog
          ref="editPriorityDialog"
          :return-value.sync="item.priority"
          @open="openEditPriorityDialog(item.priority)"
          :disabled="loading"
        >
          <div :style="{backgroundColor: getSystemColor(getPriority(item.priority).color)}" style="padding: 5px 5px 5px 15px; border-radius: 3px; white-space: nowrap;">
            {{ $t(getPriority(item.priority).snippet) }} <v-icon>$vuetity.icons.dropdown</v-icon>
          </div>
          <template v-slot:input>
            <v-list dense>
              <v-list-item-group
                v-model="selectedPriority"
                color="primary"
              >
                <v-list-item
                  v-for="(priority, key) in ticketPriorities"
                  :key="key"
                  @click="item.priority = priority.id"
                  color="primary"
                >
                  <div
                    class="priority-color elevation-3"
                    :style="{backgroundColor: getSystemColor(priority.color)}"
                  ></div>
                  <v-list-item-content class="ml-3">
                    <v-list-item-title>{{ $t(priority.snippet) }}</v-list-item-title>
                  </v-list-item-content>
                  <v-list-item-icon>
                    <v-icon :style="{opacity: key === selectedPriority ? 1 : 0}">$vuetity.icons.check</v-icon>
                  </v-list-item-icon>
                </v-list-item>
              </v-list-item-group>
            </v-list>
            <v-divider/>
            <div class="py-3 d-flex">
              <v-spacer/>
              <v-btn text color="red" @click="closePriorityDialog()">{{ $t('cancel') }}</v-btn>
              <v-btn
                text
                color="primary"
                class="ml-2"
                @click="closePriorityDialogAndSave(item)"
              >
                {{ $t('save') }}
              </v-btn>
            </div>
          </template>
        </v-edit-dialog>
      </template>
      <template v-slot:item.state="{ item }">
        <v-edit-dialog
          ref="editStateDialog"
          :return-value.sync="item.state"
          @open="openEditStateDialog(item.state)"
        >
          <div :style="{backgroundColor: getSystemColor(getState(item.state).color)}" style="padding: 5px 5px 5px 15px; border-radius: 3px; white-space: nowrap;">
            {{ $t(getState(item.state).snippet) }} <v-icon>$vuetity.icons.dropdown</v-icon>
          </div>
          <template v-slot:input>
            <v-list dense>
              <v-list-item-group
                v-model="selectedState"
                color="primary"
              >
                <v-list-item
                  v-for="(state, key) in ticketStates"
                  :key="key"
                  @click="item.state = changeTicketState(item, state)"
                  :inactive="!state.selectable && selectedState !== key"
                  :color="state.selectable ? 'primary' : 'grey'"
                >
                  <div
                    class="state-color elevation-3"
                    :style="{backgroundColor: getSystemColor(state.color)}"
                  ></div>
                  <v-list-item-content class="ml-3">
                    <v-list-item-title v-if="state.selectable">{{ $t(state.snippet) }}</v-list-item-title>
                    <v-list-item-title v-if="!state.selectable" class="text--disabled">{{ $t(state.snippet) }}</v-list-item-title>
                  </v-list-item-content>
                  <v-list-item-icon>
                    <v-icon :style="{opacity: key === selectedState && state.selectable ? 1 : 0}">$vuetity.icons.check</v-icon>
                  </v-list-item-icon>
                </v-list-item>
              </v-list-item-group>
            </v-list>
            <v-divider/>
            <div class="py-3 d-flex">
              <v-spacer/>
              <v-btn text color="red" @click="closeStateDialog()">{{ $t('cancel') }}</v-btn>
              <v-btn
                text
                color="primary"
                class="ml-2"
                @click="closeStateDialogAndSave(item)"
                :disabled="!stateIsSavable"
              >
                {{ $t('save') }}
              </v-btn>
            </div>
          </template>
        </v-edit-dialog>
      </template>
      <template v-slot:item.createdAt="{ item }">
        {{ getCreatedAt(item) }}
      </template>
      <template v-slot:item.comments="{ item }">
        {{ item.comments.length }}
      </template>
      <template v-slot:item.creator="{ item }">
        {{ getCreator(item) }}
      </template>
    </v-data-table>
    <v-snackbar
      v-model="snackbar.show"
      :timeout="snackbar.timeout"
      top
      right
      shaped
      :color="getSystemColor(snackbar.color)"
    >
      <v-icon class="mr-3">$vuetity.icons.home</v-icon>
      {{ snackbar.text }}
    </v-snackbar>
    <v-dialog v-model="dialogs.ticket.delete" max-width="500px">
      <v-card>
        <p class="text-h6 text-center pt-4">{{ $t('ticket.confirmation.delete_one') }}</p>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="closeTicketDeleteDialog()">{{ $t('abort') }}</v-btn>
          <v-btn color="red darken-1" text @click="deleteTicketConfirm()">{{ $t('ok') }}</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogs.ticket.create.show"
      max-width="1200px"
      tile
    >
      <v-card height="auto">
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-subtitle>
          {{ formSubTitle }}
        </v-card-subtitle>

<!--        <v-card-text>-->
          <v-container>
            <v-form
              ref="createTicketForm"
              v-model="dialogs.ticket.create.valid"
              lazy-validation
            >
              <v-select
                v-if="editedItem !== null"
                :items="ticketPriorities"
                label="Priorität"
                item-value="id"
                required
                :item-text="translatePrioritySnippet"
                outlined
                v-model="editedItem.priority"
              ></v-select>
              <v-text-field
                required
                :label="$t('subject')"
                counter
                :rules="[v => (v && v.length >= subjectMinLength) || $t('min.length_20')]"
                v-model="editedItem.subject"
                outlined
                v-if="editedItem !== null"
              >
                <template v-slot:counter="{ props }">
                  {{ props.value }}/{{ subjectMinLength }}
                </template>
              </v-text-field>
              <v-editor
                v-model="editedItem.content"
                :extensions="extensions"
                elevation="0"
                dense
                height="394"
                success-color="primary"
                min-text="min.length_formatted"
                required
                required-text="required_field"
                error-color="red lighten-1"
                min="120"
                :editor-detail-style="{padding: '6px 12px 0 12px'}"
                counter
                divider-inset
                hover-color="primary"
                background-color="grey lighten-3"
                side-bar-only
              />
              {{ editedItem.content }}
            </v-form>
          </v-container>
<!--        </v-card-text>-->

        <v-card-actions style="padding-right: 4px" :style="{backgroundColor: getBackgroundColor, color: getForeColor}">
          <v-spacer/>
          <v-btn color="red" text @click="closeCreateTicketDialog()">
            {{ $t('cancel') }}
          </v-btn>
          <v-btn color="blue darken-1" :disabled="!newTicketIsSavable" text @click="createNewTicket(editedItem)">
            {{ $t('save') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialogs.ticket.deleteMultiple" max-width="500px">
      <v-card>
        <p class="text-h6 text-center pt-4">{{ $t('ticket.confirmation.delete_multiple') }}</p>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogs.ticket.deleteMultiple = false">{{ $t('abort') }}</v-btn>
          <v-btn color="red darken-1" text @click="deleteMultipleConfirm()">{{ $t('ok') }}</v-btn>
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog
      v-model="dialogs.ticket.show"
      max-width="1000px"
    >
      <v-card>
        <div :style="{backgroundColor: getColor('grey lighten-3')}">
          <v-card-title class="flex-nowrap">
            <span class="text-truncate mr-16">{{ getCurrentTicket.subject }}</span>
            <v-spacer/>
            <v-rating
              half-icon="$vuetity.icons.starHalf"
              empty-icon="$vuetity.icons.starEmpty"
              full-icon="$vuetity.icons.starFull"
              dense
              color="amber"
              background-color="grey"
              length="5"
              v-model="getCurrentTicket.rating"
              :readonly="true"
            ></v-rating>
          </v-card-title>
          <v-card-subtitle v-if="getCurrentTicket.createdAt !== null" class="d-flex">
            {{ $d(getCurrentTicket.createdAt.toDate(), 'long') }}
            <v-spacer/>
            <div class="d-flex">
              {{ $t(getState(getCurrentTicket.state).snippet) }}
              <div class="state-color elevation-3 ml-3 mr-1" :style="{backgroundColor: getSystemColor(getState(getCurrentTicket.state).color)}"></div>
            </div>
          </v-card-subtitle>
        </div>
        <v-divider/>
        <v-card-text style="min-height: 300px">
          <div class="mt-5" v-html="getCurrentTicket.content"></div>
        </v-card-text>
        <v-divider/>
        <v-card-actions :style="{backgroundColor: getColor('grey lighten-3')}">
          <span class="caption ml-3">Ticket ID: {{ getCurrentTicket.uid }}</span>
          <v-spacer/>
          <v-btn color="primary" text @click="dialogs.ticket.show = false">
            {{ $t('cancel') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import Toolbar from '../components/Toolbar'
import vColors from "vuetify/lib/util/colors";
import utils from '../mixins/utils'
import VEditor from '../components/Editor'
import EditorExtensions from '../components/editor/extensions'
export default {
  components: {
    VEditor,
    Toolbar
  },
  mixins: [utils],
  data: () => ({
    editorContent: '',
    extensions: [
      EditorExtensions.Undo,
      EditorExtensions.Redo,
      EditorExtensions.Separator,
      EditorExtensions.FormatUnderline,
      EditorExtensions.FormatStriketrough,
      EditorExtensions.FormatItalic,
      EditorExtensions.FormatBold,
      EditorExtensions.FormatSize,
      EditorExtensions.Separator,
      EditorExtensions.FormatAlignLeft,
      EditorExtensions.FormatAlignCenter,
      EditorExtensions.FormatAlignRight,
      EditorExtensions.FormatAlignBlock,
      EditorExtensions.Separator,
      EditorExtensions.FormatListBulleted,
      EditorExtensions.FormatListNumbered,
      EditorExtensions.Separator,
      EditorExtensions.Outdent,
      EditorExtensions.Indent,
      EditorExtensions.Separator,
      EditorExtensions.HorizontalLine,
      // EditorExtensions.Separator,
      // EditorExtensions.Link,
      EditorExtensions.Separator,
      EditorExtensions.Image,
      EditorExtensions.Separator,
      EditorExtensions.Code,
    ],
    loading: true,
    shop: null,
    selected: [],
    search: '',
    selectedPriority: 0,
    selectedState: 0,
    columnSelector: false,
    editedIndex: -1,
    editedItem: null,
    defaultItem: null,
    dialogs: {
      ticket: {
        delete: false,
        deleteMultiple: false,
        current: {
          ticket: null,
          shop: null
        },
        show: false,
        create: {
          show: false,
          valid: false
        }
      },
      edit: {
        subject: false,
        state: false
      }
    },
    snackbar: {
      show: false,
      text: '',
      color: 'blue',
      timeout: 2000
    },
    ticketStates: [],
    ticketPriorities: [],
    contentMinLength: 100,
    subjectMinLength: 20,
    subjectMaxLength: 30,
    dense: false,
    columnFilter: {
      disabled: false
    },
    headers: [
      {
        text: 'ticket.table.id',
        align: 'start',
        sortable: true,
        value: 'id',
        hidable: true,
        show: true,
      },
      {
        text: 'ticket.table.subject',
        align: 'start',
        sortable: true,
        value: 'subject',
        hidable: false,
        show: true,
      },
      {
        text: 'ticket.table.state',
        align: 'center',
        sortable: true,
        value: 'state',
        hidable: false,
        show: true,
      },
      {
        text: 'ticket.table.priority',
        align: 'center',
        sortable: true,
        value: 'priority',
        hidable: false,
        show: true,
      },
      {
        text: 'ticket.table.comments',
        align: 'center',
        sortable: false,
        value: 'comments',
        hidable: true,
        show: false,
      },
      {
        text: 'ticket.table.creator',
        align: 'center',
        sortable: true,
        value: 'creator',
        hidable: true,
        show: true,
      },
      {
        text: 'ticket.table.rating',
        align: 'center',
        sortable: true,
        value: 'rating',
        hidable: true,
        show: true,
      },
      {
        text: 'ticket.table.createdAt',
        align: 'center',
        sortable: true,
        value: 'createdAt',
        hidable: true,
        show: false,
      },
      {
        text: 'ticket.table.editor',
        align: 'start',
        sortable: true,
        value: 'editor',
        hidable: true,
        show: true,
      },
      {
        value: 'actions',
        sortable: false,
        hidable: false,
        show: true,
      },
    ],
  }),
  beforeMount() {
    var defaultTicket = this.$store.getters['tickets/getDefaultTicket']

    this.editedItem = defaultTicket
    this.defaultItem = defaultTicket

    this.fetchData()
  },
  methods: {
    onSelectTicket(ticket, item) {
      this.$store.dispatch('shop/refered', ticket.shop)
        .then(shop => {
          this.dialogs.ticket.current.shop = shop
          this.dialogs.ticket.current.ticket = ticket

          console.log(item)
        })
        .finally(() => {
          this.dialogs.ticket.show = true
        })
    },
    validateCreateTicketForm () {
      this.$refs.createTicketForm.validate()
    },
    closeCreateTicketDialog () {
      this.dialogs.ticket.create.show = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    translatePrioritySnippet(item) {
      return this.$t(item.snippet)
    },
    duplicateTicket (ticket) {
      this.loading = true
      this.editedItem = Object.assign({}, ticket)

      this.$store.dispatch('tickets/clone', ticket)
        .finally(() => {
          this.loading = false
        })
    },
    deleteMultipleTickets () {
      this.dialogs.ticket.deleteMultiple = true
    },
    deleteMultipleConfirm () {
      this.loading = true
      this.dialogs.ticket.deleteMultiple = false

      this.$store.dispatch('tickets/deleteMultiple', this.selected)
        .finally(() => {
          this.loading = false
        })
    },
    deleteTicket (ticket) {
      this.editedIndex = this.tickets.indexOf(ticket)
      this.editedItem = Object.assign({}, ticket)
      this.dialogs.ticket.delete = true
    },
    closeTicketDeleteDialog () {
      this.dialogs.ticket.delete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    deleteTicketConfirm () {
      this.loading = true
      this.closeTicketDeleteDialog()

      this.$store.dispatch('tickets/delete', this.editedItem)
        .finally(() => {
          this.loading = false
        })
    },
    createNewTicket (ticket) {
      this.loading = true

      if (ticket.hasOwnProperty('uid')) {
        delete ticket.uid
      }

      if (ticket.hasOwnProperty('id')) {
        delete ticket.id
      }

      this.$store.dispatch('tickets/create', ticket)
        .finally(() => {
          this.loading = false
          this.dialogs.ticket.create.show = false
        })
    },
    create() {
      this.editedIndex = -1
      this.editedItem = Object.assign({}, this.defaultItem)

      this.editedItem.content = ''
      this.editedItem.subject = ''

      this.dialogs.ticket.create.show = true
    },
    getState(id = 0) {
      let ticketState = this.ticketStates.find(ticketState => ticketState.id === id)

      return ticketState !== null && ticketState !== undefined
        ? ticketState
        : {
          "id": -100,
          "color": "red lighten-3",
          "snippet": "unknown",
          "selectable": false
        }
    },
    getPriority(id = 2) {
      let ticketPriority = this.ticketPriorities.find(ticketPriority => ticketPriority.id === id)

      return ticketPriority !== null && ticketPriority !== undefined
        ? ticketPriority
        : {
          "id": 0,
          "color": "grey lighten-3",
          "snippet": "unknown"
        }

    },
    fetchData() {
      this.loading = true

      Promise.all([
        this.$store.dispatch('user/load'),
        this.$store.dispatch('shop/plugins/load')
      ])
        .then(() => {
          Promise.all([
            this.$store.dispatch('shop/load'),
            this.$store.dispatch('tickets/priorities/load'),
            this.$store.dispatch('tickets/states/load'),
            this.$store.dispatch('tickets/headers/load')
          ])
            .then(responses => {
              var shop = responses[0]

              this.ticketPriorities = this.$store.getters['tickets/priorities/getPriorities']
              this.ticketStates = this.$store.getters['tickets/states/getStates']
              this.headers = this.$store.getters['tickets/headers/getHeaders']

              this.$store.dispatch('tickets/load', shop)
                .finally(() => {
                  this.loading = false
                })
            })
            .catch(() => {
              this.loading = false
            })
        })
        .catch(() => {
          this.loading = false
        })
    },
    cutText (text, length) {
      return text.length > length
        ? text.substring(0, length).trim() + '...'
        : text
    },
    getCreator(item) {
      let creator = item.creator !== null && item.creator !== undefined
        ? this.$store.getters['user/findUser'](item.creator)
        : this.$store.getters['user/findUser'](0)

      return creator !== null && creator !== undefined && creator.hasOwnProperty('name')
        ? creator.name
        : ''
    },
    getLocale() {
      var locale = this.$t(`locale.${this.$i18n.locale}`)
      return locale === 'locale.de' || locale === 'locale.en'
        ? 'de-DE'
        : locale
    },
    getCreatedAt(item) {
      var options = {
        hour12: false,
        day: '2-digit',
        month: '2-digit',
        year: 'numeric',
        hour: '2-digit',
        minute:'2-digit',
        second:'2-digit'
      };

      var date = item.createdAt !== null && item.createdAt !== undefined
        ? new Date(item.createdAt.toDate()).toLocaleString(this.getLocale(), options)
        : new Date().toLocaleString(this.getLocale(), options)

      return date.replace(',', '')
    },
    closePriorityDialog() {
      if (this.$refs.hasOwnProperty('editPriorityDialog')) {
        this.$refs['editPriorityDialog'].isActive = false
      }
    },
    closeStateDialog() {
      if (this.$refs.hasOwnProperty('editStateDialog')) {
        this.$refs['editStateDialog'].isActive = false
      }
    },
    closePriorityDialogAndSave(item) {
      this.closePriorityDialog()
      this.save(item)
    },
    closeStateDialogAndSave(item) {
      this.closeStateDialog()
      this.save(item)
    },
    save(ticket) {
      this.loading = true

      return this.$store.dispatch('tickets/save', ticket)
        .then(() => {
          this.loading = false
        })
    },
    changeTicketState(item, state) {
      if (this.getState(state.id).selectable) {
        return state.id
      } else {
        this.showToast(this.$t('state.only_by_support_changable'), 'red')
        return item.state
      }
    },
    showToast(text = '', color = 'blue') {
      this.snackbar.color = color
      this.snackbar.text = text
      this.snackbar.show = true
    },
    openEditPriorityDialog(priorityId = 2) {
      this.ticketPriorities.forEach((ticketPriority, key) => {
        if (ticketPriority.id === priorityId) {
          this.selectedPriority = key
        }
      })
    },
    openEditStateDialog(stateId = 10) {
      this.ticketStates.forEach((ticketState, key) => {
        if (ticketState.id === stateId) {
          this.selectedState = key
        }
      })
    },
    saveTicketHeaders() {
      this.columnFilter.disabled = true
      this.loading = true
      this.$store.dispatch('tickets/headers/save', this.headers)
        .then(headers => {
          this.headers = headers
        })
        .finally(() => {
          this.columnFilter.disabled = false
          this.loading = false
        })
    },
    getColor(color) {
      var colors = color.split(' ')
      var theme = this.$vuetify.theme.dark ? 'dark' : 'light'

      if (colors.length >= 1) {
        colors[0] = colors[0].replace(/-([a-z])/g, function (g) { return g[1].toUpperCase(); })
      }

      if (this.$vuetify.theme.themes[theme].hasOwnProperty(colors[0])) {
        return this.$vuetify.theme.themes[theme][colors[0]]
      } else if (vColors.hasOwnProperty(colors[0])) {
        if (colors.length > 1) {
          let brightness = colors[1].split('-').join('')

          return vColors[colors[0]].hasOwnProperty(brightness)
            ? vColors[colors[0]][brightness]
            : (vColors[colors[0]].hasOwnProperty('base')
              ? vColors[colors[0]]['base']
              : this.$vuetify.theme.themes[theme]['primary'])
        } else {
          return vColors[colors[0]].hasOwnProperty('base')
            ? vColors[colors[0]]['base']
            : this.$vuetify.theme.themes[theme]['primary']
        }
      } else {
        return this.$vuetify.theme.themes[theme]['primary']
      }
    }
  },
  computed: {
    getCurrentTicket() {
      return this.dialogs.ticket.current.ticket !== null
        ? this.dialogs.ticket.current.ticket
        : {
          uid: '',
          subject: '',
          content: '',
          rating: 0,
          createdAt: null
        }
    },
    getCurrentTicketShop() {
      return this.dialogs.ticket.current.shop !== null
        ? this.dialogs.ticket.current.shop
        : {
          name: '',
          host: '',
          version: '',
          email: '',
          users: []
        }
    },
    newTicketIsSavable() {
      if (
        this.editedItem !== null &&
        this.editedItem !== undefined &&
        this.editedItem.hasOwnProperty('priority') &&
        this.editedItem.hasOwnProperty('subject') &&
        this.editedItem.hasOwnProperty('content')
      ) {
        return this.editedItem.priority !== null &&
          this.editedItem.priority !== undefined &&
          this.editedItem.subject.length >= this.subjectMinLength &&
          this.editedItem.content.length >= 100
      }

      return false
    },
    stateIsSavable() {
      var state = this.ticketStates[this.selectedState]

      return state !== undefined
        ? state.selectable
        : false
    },
    footerProps() {
      return {
        showFirstLastPage: true,
        firstIcon: '$vuetity.icons.firstPage',
        lastIcon: '$vuetity.icons.lastPage',
        prevIcon: '$vuetity.icons.previousPage',
        nextIcon: '$vuetity.icons.nextPage',
        'items-per-page-text': this.$t('$vuetify.dataTable.ticketsPerPageText')
      }
    },
    tickets() {
      var tickets = this.$store.state.tickets.tickets

      return tickets.map((ticket, id) => {
        return Object.assign(ticket.data(), {
          id: id,
          uid: ticket.id
        })
      })
    },
    ticketHeaders() {
      var headers = this.headers

      headers.forEach(header => {
        header.text = this.$t(header.text)
      })

      return headers.filter(header => header.show)
    },
    formTitle () {
      return this.editedIndex === -1 ? this.$t('ticket.new') : this.$t('ticket.edit')
    },
    formSubTitle () {
      return this.editedIndex === -1 ? '' : `Ticket ID: ${this.editedItem.id}`
    },
    getBackgroundColor() {
      return this.getColor(this.$store.getters['editor/getBackgroundColor'])
    },
    getForeColor() {
      return this.getColor(this.$store.getters['editor/getColor'])
    },
  }
}
</script>

<style lang="scss">
.priority-color, .state-color {
  position: relative;
  height: 20px;
  width: 20px;
  left: 0;
  top: 0;
  border-radius: 3px;
  border: solid 1px #777;
}

th.sortable {
  white-space: nowrap;
}
</style>
