<template>
  <div class="dcm-dashboard fill-height">
    <v-navigation-drawer
      app
      :dark="dark"
      class="navigationBg"
      :temporary="$vuetify.breakpoint.mdAndDown"
      v-if="!privacy"
      v-model="drawer.model"
    >
      <v-list shaped dense :disabled="privacy">
        <v-list-item @click.stop="setTitle($t('menu.overview'))" :to="{name: 'main'}" color="primary">
          <v-container>
            <v-img
              :src="logo"
              max-height="50"
              contain
            ></v-img>
            <p class="d-flex justify-center mb-0 mt-4 text--secondary">
              Dropshippers Companion
            </p>
          </v-container>
        </v-list-item>

        <div v-for="group in menu" class="pt-2">
          <p class="py-1 pl-4 ma-0 mt-3 caption" style="color: #93a3af;">{{ $t(group.snippet) }}</p>
          <v-divider class="mb-2" v-if="isGroupHasVisibleItems(group)"/>
          <v-list-item
            v-for="(item, key) in group.items"
            :key="key"
            link
            @click.stop="setTitle($t(item.snippet))"
            :to="item.to"
            v-if="!item.hidden"
            :color="item.disabled ? 'red' : getSystemColor(item.color)"
          >
            <v-list-item-title class="secondary--text">{{ $t(item.snippet) }}</v-list-item-title>

            <v-list-item-icon>
              <v-icon>$vuetity.icons.{{ item.icon }}</v-icon>
            </v-list-item-icon>
          </v-list-item>
        </div>
      </v-list>
    </v-navigation-drawer>

    <v-main class="dcm-main fill-height">
<!--      <v-app-bar app dark flat fixed class="dc-gradient"></v-app-bar>-->

      <v-app-bar app dark flat fixed class="dc-gradient">
        <v-app-bar-nav-icon v-if="$vuetify.breakpoint.mdAndDown" @click.stop="toggleDrawer"/>
        <v-toolbar-title>{{ privacy ? $t('menu.privacy') : title }}</v-toolbar-title>
        <v-spacer/>
      </v-app-bar>


      <transition name="fade">
        <router-view :dark="dark" :name="privacy ? 'privacy' : 'default'"/>
      </transition>
    </v-main>
  </div>
</template>

<script>
import Toolbar from '../components/Toolbar'
import TicketChart from "../components/charts/TicketChart";
import utils from '../mixins/utils'

export default {
  components: {
    TicketChart,
    Toolbar
  },
  mixins: [utils],
  data: () => ({
    menu: [],
    title: '',
    settings: null,
    drawer: {
      model: null,
      type: 'default (no property)'
    }
  }),
  beforeMount() {
    this.menu = this.$store.getters['menus/getMainMenu']
    this.$vuetify.theme.dark = this.$store.getters['theme/isDark']
  },
  mounted() {
    this.settings = this.$store.getters['settings/getSettings']
    this.setTitle(this.$store.getters['getTitle'])

    this.$root.$on('toogle-drawer', this.toggleDrawer)

    if (
      this.$route.name !== 'main' &&
      this.settings !== null &&
      this.settings.hasOwnProperty('privacy') &&
      this.settings.privacy
    ) {
      this.$router.push({name: 'main'})
    }
  },
  methods: {
    isGroupHasVisibleItems(group) {
      return group.items.filter(item => !item.hidden).length > 0
    },
    setTitle(title) {
      this.title = title
      this.$root.$emit('change-title', title)
    },
    toggleDrawer() {
      this.drawer.model = !this.drawer.model
    }
  },
  computed: {
    privacy() {
      var privacy = this.settings !== null && this.settings.hasOwnProperty('privacy')
        ? this.settings.privacy
        : true

      this.$root.$emit('change-privacy', privacy)

      return privacy
    },
    dark() {
      return this.$store.getters['theme/isDark']
    },
    logo() {
      return window.location.hostname === 'localhost'
        ? 'https://sw560-3.wmadc-dev.de/custom/plugins/WundeDcompanion/Resources/views/backend/_resources/images/dropshippers-companion-logo.png'
        : '/custom/plugins/WundeDcompanionManager/Resources/views/backend/_resources/images/dropshippers-companion-logo.png'
    }
  }
}
</script>

<style lang="scss">
.dc-gradient {
  background-image: linear-gradient(to bottom left, #0082EA 0%, #00B3FF 100%);
}

.connection {
  display: flex;
  justify-content: space-between;

  .connection-state {
    position: relative;
    height: 10px;
    width: 10px;
    top: 0;
    left: 0;
    background-color: red;
  }
}
</style>
