<template>
  <div ref="editor">
    <div class="overflow-hidden pb-8" :style="{height: getHeight}" style="height: 500px; min-height: 394px; resize: vertical;">
      <v-card
        :flat="flat"
        :elevation="elevation"
        height="100%"
        :width="width"
        :tile="tile"
        class="d-flex flex-column editor-card"
        ref="editor-card"
        style="border-style: solid;"
        :style="{borderColor: cardColor, borderWidth: error || success ? '2px' : '1px'}"
      >
        <editor-bar v-if="$vuetify.breakpoint.xlOnly && !sideBarOnly" ref="editor-toolbar" style="width: 100%"/>
        <div class="editor-content fill-height overflow-auto d-flex" ref="editor-content-area">
          <editor-side-bar v-if="$vuetify.breakpoint.lgAndDown || sideBarOnly"/>
          <div
            class="editor-preview-view fill-height"
            style="display: block; width: 100%; overflow: hidden;"
            ref="editor-preview-view"
            contenteditable
            @input="handleInput"
          ></div>
          <textarea
            style="display: none; width: 100%; resize: none;"
            class="html-view fill-height"
            ref="editor-html-view"
          ></textarea>
        </div>
      </v-card>

      <div class="d-flex editor-details" :style="editorDetailStyle">
        <span v-if="required" :style="{color: requiredColor}" class="caption">* {{ getRequiredText }}</span>
        <span v-if="getMin() !== 0 && required" :style="{color: counterColor}" class="caption" style="padding: 0 5px">|</span>
        <span v-if="getMin() !== 0" :style="{color: counterColor}" class="caption">{{ getMinText }}</span>
        <v-spacer/>
        <span v-if="getMin() !== 0 && counter" :style="{color: counterColor}">{{ content.length }}/{{ getMin() }}</span>
        <span v-if="getMin() === 0 && counter" :style="{color: counterColor}">{{ content.length }}</span>
      </div>
    </div>
    <v-dialog
      v-model="dialogs.image"
      width="500"
    >
      <v-card tile>
        <v-card-title class="headline" :style="{backgroundColor: getBackgroundColor, color: getForeColor}">
          Bild hinzufügen
        </v-card-title>

        <v-divider/>

        <v-card-text class="mt-8">
          <v-upload height="200" width="100%" icon="home" elevaltion="6" background-color="grey lighten-3" v-model="uploadImage"/>
        </v-card-text>

        <v-card-actions :style="{backgroundColor: getBackgroundColor}">
          <v-spacer></v-spacer>
          <v-btn color="red" text @click="dialogs.image = false">
            {{ $t('cancel') }}
          </v-btn>
          <v-btn color="primary" text :disabled="uploadImage === null" @click="addImage">
            {{ $t('save') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import vColors from "vuetify/lib/util/colors";
import VUpload from './Upload'
import EditorBar from './editor/EditorBar'
import EditorSideBar from './editor/EditorSideBar'
export default {
  components: {
    EditorBar,
    EditorSideBar,
    VUpload
  },
  prop: ['value'],
  props: {
    dark: {
      type: Boolean,
      default: false
    },
    counter: {
      type: Boolean,
      default: false
    },
    required: {
      type: Boolean,
      default: false
    },
    requiredText: {
      type: String,
      default: 'required'
    },
    editorDetailStyle: {
      type: Object,
      default: () => ({padding: '6px 12px 0 12px'})
    },
    minText: {
      type: String,
      default: 'At least {0} characters'
    },
    dense: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    tile: {
      type: Boolean,
      default: false
    },
    min: {
      type: String|Number,
      default: '0'
    },
    showDivider: {
      type: Boolean,
      default: false
    },
    sideBarOnly: {
      type: Boolean,
      default: false
    },
    dividerColor: {
      type: String,
      default: 'grey lighten-1'
    },
    dividerInset: {
      type: Boolean,
      default: false
    },
    errorColor: {
      type: String,
      default: 'red'
    },
    successColor: {
      type: String,
      default: ''
    },
    height: {
      type: String,
      default: '100%'
    },
    width: {
      type: String,
      default: '100%'
    },
    flat: {
      type: Boolean,
      default: false
    },
    elevation: {
      type: String,
      default: undefined
    },
    color: {
      type: String,
      default: 'grey darken-1'
    },
    backgroundColor: {
      type: String,
      default: 'grey lighten-3'
    },
    hoverColor: {
      type: String,
      default: null
    },
    extensions: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    content: '',
    htmlView: false,
    uploadImage: {
      src: null,
      width: 0,
      height: 0
    },
    error: false,
    success: false,
    uploadImageHeight: 0,
    uploadImageWidth: 0,
    dialogs: {
      image: false,
    }
  }),
  beforeMount() {
    this.$store.commit('editor/setInstance', this.getEditor())
  },
  mounted() {
    this.$store.commit('editor/setBackgroundColor', this.backgroundColor)
    this.$store.commit('editor/setColor', this.color)
    this.$store.commit('editor/setDark', this.dark)
    this.$store.commit('editor/setExtensions', this.extensions)
    this.$store.commit('editor/setShowDivider', this.showDivider)
    this.$store.commit('editor/setDividerColor', this.dividerColor)
    this.$store.commit('editor/setDividerInset', this.dividerInset)
    this.$store.commit('editor/setDense', this.dense)
    this.$store.commit('editor/setSmall', this.small)

    if (this.hoverColor != null) {
      this.$store.commit('editor/setHoverColor', this.hoverColor)
    } else {
      this.$store.commit('editor/setHoverColor', this.color)
    }

    if (this.required) {
      this.error = true
    }

    this.$root.$on('vuetify-editor-clear', this.clearContent)
    this.$on('vuetify-editor-action', this.onAction)
  },
  computed: {
    getRequiredText() {
      return this.requiredText === 'required'
        ? this.requiredText
        : this.$t(this.requiredText)
    },
    getMinText() {
      return this.minText === 'At least {0} characters'
        ? this.minText.replace('{0}', this.getMin().toString())
        : this.$t(this.minText).toString().replace('{0}', this.getMin().toString())
    },
    cardColor() {
      return this.error
        ? this.getColor(this.errorColor)
        : (this.successColor.length > 0 && this.content.length > 0
          ? this.getColor(this.successColor)
          : this.getColor(this.dividerColor))
    },
    counterColor() {
      return this.error
        ? this.getColor(this.errorColor)
        : (this.successColor.length > 0 && this.content.length > 0
          ? this.getColor(this.successColor)
          : this.getColor(this.dividerColor))
    },
    requiredColor() {
      return this.counterColor
    },
    getBackgroundColor() {
      return this.getColor(this.backgroundColor)
    },
    getForeColor() {
      return this.getColor(this.color)
    },
    isTile() {
      return this.tile
    },
    getHeight() {
      return !this.height.includes('px') && !this.height.includes('%')
        ? `${this.height}px`
        : this.height
    }
  },
  methods: {
    clearContent() {
      this.content = ''
      var visualView = this.$refs["editor-preview-view"]
      var htmlView = this.$refs["editor-html-view"]

      visualView.innerHTML = ''
      htmlView.innerHTML = ''
    },
    getMin() {
      return !isNaN(this.min)
        ? parseInt(this.min)
        : 0
    },
    handleInput (e) {
      this.content = e.target.innerHTML
      this.$emit('input', e.target.innerHTML)

      if (this.getMin() !== 0) {
        this.error = e.target.innerHTML.length < this.getMin()
      } else if (this.required) {
        this.error = e.target.innerHTML.length < 1
      }

      if (this.successColor.length > 0) {
        this.success = !this.error
      }
    },
    getEditor() {
      return this
    },
    getColor(color) {
      var colors = color.split(' ')
      var theme = this.$vuetify.theme.dark ? 'dark' : 'light'

      if (colors.length >= 1) {
        colors[0] = colors[0].replace(/-([a-z])/g, function (g) { return g[1].toUpperCase(); })
      }

      if (this.$vuetify.theme.themes[theme].hasOwnProperty(colors[0])) {
        return this.$vuetify.theme.themes[theme][colors[0]]
      } else if (vColors.hasOwnProperty(colors[0])) {
        if (colors.length > 1) {
          let brightness = colors[1].split('-').join('')

          return vColors[colors[0]].hasOwnProperty(brightness)
            ? vColors[colors[0]][brightness]
            : (vColors[colors[0]].hasOwnProperty('base')
              ? vColors[colors[0]]['base']
              : (colors[0] === 'white'
                ? colors[0]
                : this.$vuetify.theme.themes[theme]['primary']))
        } else {
          return vColors[colors[0]].hasOwnProperty('base')
            ? vColors[colors[0]]['base']
            : (colors[0] === 'white'
              ? colors[0]
              : this.$vuetify.theme.themes[theme]['primary'])
        }
      } else {
        return colors[0] === 'white'
          ? colors[0]
          : this.$vuetify.theme.themes[theme]['primary']
      }
    },
    onAction(element) {
      switch(element.dataset.action) {
        case 'code':
        case 'codeOff':
          this.execCodeAction(element);
          break;
        case 'createLink':
          this.execLinkAction();
          break;
        case 'image':
          this.execImageAction();
          break;
        default:
          this.execDefaultAction(element.dataset.action);
      }
    },
    execImageAction(element) {
      this.dialogs.image = true
    },
    execCodeAction(element) {
      let action = element.dataset.action

      if (action != null) {
        let svgPath = action === 'code'
          ? this.$vuetify.icons.values.codeOff.toString()
          : this.$vuetify.icons.values.code.toString()

        element.querySelector('svg > path').setAttribute('d', svgPath)
        element.setAttribute('data-action', action === 'code' ? 'codeOff' : 'code')

        var visualView = this.$refs["editor-preview-view"]
        var htmlView = this.$refs["editor-html-view"]

        if (action !== 'code') {
          visualView.innerHTML = htmlView.value;
          htmlView.style.display = 'none';
          visualView.style.display = 'block';
        } else {
          htmlView.innerText = visualView.innerHTML;
          visualView.style.display = 'none';
          htmlView.style.display = 'block';
        }
      }
    },
    execLinkAction() {
      //Todo create Linkaction
    },
    execDefaultAction(action) {
      document.execCommand(action, false);
    },
    addImage() {
      this.dialogs.image = false

      var image = document.createElement('div')
      image.style.backgroundImage = `url(${this.uploadImage.src})`
      image.style.height = `${this.uploadImage.height}px`
      image.style.width = `${this.uploadImage.width}px`
      image.style.position = 'relative'
      image.style.backgroundSize = 'contain'

      var resizer = document.createElement('div')
      resizer.contentEditable = 'false'
      resizer.style.position = 'absolute'
      resizer.style.bottom = '-5px'
      resizer.style.right = '-5px'
      resizer.style.height = '10px'
      resizer.style.width = '10px'
      resizer.style.borderRadius = '50%'
      resizer.style.backgroundColor = 'white'
      resizer.style.cursor = 'pointer'
      // resizer.style.opacity = '0'
      // resizer.style.transition = 'opacity 200ms ease 0s'
      resizer.style.border = `solid 1px ${this.getColor(this.backgroundColor)}`
      resizer.classList.add('image-resizer')

      // image.onmouseover = () => {
      //   resizer.style.opacity = '1'
      // }
      //
      // image.onmouseout = () => {
      //   resizer.style.opacity = '0'
      // }

      resizer.onmousedown = () => {
        resizer.onmousemove = (e) => {
          image.style.width = e.pageX - image.getBoundingClientRect().left + 'px';
          image.style.height = e.pageY - image.getBoundingClientRect().top + 'px';
        }
        resizer.addEventListener('mouseup', function () {
          resizer.removeEventListener('mousemove', null)
        })
      }

      image.appendChild(resizer)

      this.$refs["editor-preview-view"].appendChild(image)

      this.uploadImage = {
        src: null,
        width: 0,
        height: 0
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.editor-preview-view {
  outline: none;
}
.editor-details {
  font-size: 16px;
}
</style>


