<template>
  <v-container class="fill-height" fluid v-if="loading">
    <v-row align="center" justify="center">
      <v-col class="shrink">
        <v-progress-circular
          :size="parseInt(size)"
          :width="parseInt(width)"
          :color="color"
          :indeterminate="indeterminate"
        >
          {{ $t(text) }}
        </v-progress-circular>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  props: {
    indeterminate: {
      type: Boolean,
      default: true
    },
    loading: {
      type: Boolean,
      default: true
    },
    color: {
      type: String,
      default: 'primary'
    },
    text: {
      type: String,
      default: 'loading'
    },
    size: {
      type: Number|String,
      default: 150
    },
    width: {
      type: Number|String,
      default: 7
    },
  }
}
</script>
