<template>
  <svg id="Ebene_1"
       xmlns="http://www.w3.org/2000/svg"
       x="0px"
       y="0px"
       width="1449.244px"
       height="981.332px"
       viewBox="0 0 1449.244 981.332"
       xml:space="preserve"
       :style="style"
  >
      <path :fill="getColor(logoColor)" d="M738.567,481.142c6.165-14.685,11.963-28.424,19.093-41.558c20.576-37.905,47.523-70.687,79.597-99.367
        c32.821-29.351,69.235-53.011,110.26-69.313c54.085-21.492,110.224-28.231,168.023-23.727c31.364,2.444,61.968,8.436,91.607,18.84
        c63.758,22.378,116.505,60.703,160.134,111.927c28.21,33.122,49.017,70.51,63.253,111.56c6.987,20.147,11.69,40.894,15.5,61.859
        c0.782,4.303-1.215,4.535-4.584,4.53c-54.664-0.069-109.329-0.046-163.994-0.047c-31.498,0-62.998-0.061-94.496,0.069
        c-3.485,0.015-5.67-0.925-7.822-3.796c-25.558-34.085-59.95-48.271-101.951-44.038c-40.38,4.068-74.104,33.282-84.221,74.285
        c-11.474,46.498,0.023,86.549,38.382,116.697c33.829,26.592,92.354,31.037,127.234-3.289c13.356-13.146,22.961-28.771,30.095-45.91
        c1.618-3.889,3.522-4.801,7.328-4.795c60.998,0.088,121.995,0.066,182.993,0.039c23.165-0.014,46.331-0.018,69.493-0.27
        c4.121-0.045,5.125,1.23,4.642,5.119c-10.089,81.107-39.122,153.771-94.998,214.641c-34.593,37.686-74.771,67.551-121.714,88.098
        c-42.331,18.525-86.77,27.328-132.832,28.488c-39.521,0.996-78.512-3.043-116.652-13.52
        c-51.423-14.123-97.282-38.867-137.363-74.078c-36.78-32.313-67.066-69.813-89.535-113.463
        c-12.607-24.49-21.903-50.209-28.742-76.852c-0.146-0.566-0.349-1.117-0.775-2.469c-3.183,11.109-5.986,21.469-9.115,31.727
        c-14.85,48.693-39.095,92.119-73.217,129.965c-38.499,42.699-85.659,72.486-138.885,93.275
        c-56.982,22.26-115.899,28.65-176.543,22.387c-62.266-6.434-119.563-26.406-170.836-62.449
        c-56.119-39.449-99.969-89.563-127.997-152.561C5.346,707.908-2.694,649.734,0.763,589.611c1.838-31.963,7.663-63.05,17.836-93.345
        c16.278-48.477,42.809-90.864,77.119-128.499c27.596-30.27,58.696-56.349,94.364-76.692c60.904-34.737,126.603-48.15,196.263-43.628
        c13.794,0.896,27.59,1.768,41.386,2.645c3.172,0.201,5.441,0.516,5.434,5.018c-0.157,93.663-0.121,187.326-0.175,280.989
        c-0.001,1.742,0.989,4.357-0.594,5.077c-1.799,0.818-3.356-1.56-4.903-2.659c-18.135-12.906-37.72-21.554-60.498-21.45
        c-45.525,0.206-86.74,34.458-96.308,79.174c-12.586,58.828,24.004,105.682,70.817,118.668c35.322,9.799,69.589,6.096,97.629-20.992
        c15.854-15.316,23.435-35.221,28.115-56.271c4.389-19.74,5.951-39.791,5.945-60.014c-0.054-190.328-0.004-380.655-0.176-570.98
        c-0.005-5.691,1.638-6.663,6.915-6.652c83.997,0.174,167.994,0.166,251.991,0.004c4.743-0.009,5.75,1.376,5.747,5.843
        c-0.105,155.494-0.091,310.989-0.058,466.483C737.615,474.917,737.023,477.6,738.567,481.142z"/>
    </svg>
</template>

<script>
import vColors from "vuetify/lib/util/colors";
export default {
  props: {
    logoColor: {
      type: String,
      default: 'grey lighten-2'
    },
    height: {
      type: String|Number,
      default: '150'
    },
    width: {
      type: String|Number,
      default: '150'
    },
    opacity: {
      type: String|Number,
      default: '1'
    },
    transformX: {
      type: String|Number,
      default: '0'
    },
    transformY: {
      type: String|Number,
      default: '0'
    },
    rotation: {
      type: String|Number,
      default: '0'
    },
    zIndex: {
      type: String|Number,
      default: '0'
    },
    position: {
      type: String,
      default: 'relative'
    },
    transitionType: {
      type: String,
      default: 'ease'
    },
    transitionDuration: {
      type: String,
      default: '0'
    },
  },
  computed: {
    style() {
      return {
        transform: `translate(${parseInt(this.transformX)}px, ${parseInt(this.transformY)}px) rotate(${parseInt(this.rotation)}deg)`,
        width: `${parseInt(this.width)}px`,
        height: `${parseInt(this.height)}px`,
        zIndex: parseInt(this.zIndex),
        position: this.position,
        opacity: parseFloat(this.opacity),
        transition: `all ${parseInt(this.transitionDuration)}ms ${this.transitionType} 0s`
      }
    }
  },
  methods: {
    getColor(color) {
      var colors = color.split(' ')
      var theme = this.$vuetify.theme.dark ? 'dark' : 'light'

      if (colors.length >= 1) {
        colors[0] = colors[0].replace(/-([a-z])/g, function (g) { return g[1].toUpperCase(); })
      }

      if (this.$vuetify.theme.themes[theme].hasOwnProperty(colors[0])) {
        return this.$vuetify.theme.themes[theme][colors[0]]
      } else if (vColors.hasOwnProperty(colors[0])) {
        if (colors.length > 1) {
          let brightness = colors[1].split('-').join('')

          return vColors[colors[0]].hasOwnProperty(brightness)
            ? vColors[colors[0]][brightness]
            : (vColors[colors[0]].hasOwnProperty('base')
              ? vColors[colors[0]]['base']
              : this.$vuetify.theme.themes[theme]['primary'])
        } else {
          return vColors[colors[0]].hasOwnProperty('base')
            ? vColors[colors[0]]['base']
            : this.$vuetify.theme.themes[theme]['primary']
        }
      } else {
        return this.$vuetify.theme.themes[theme]['primary']
      }
    }
  }
}
</script>
