<template>
  <v-hover v-slot="{ hover }">
    <div>
      <v-card
        v-if="plugin !== null"
        class="overflow-hidden"
        :outlined="outlined"
        :tile="tile"
        :elevation="hover ? parseInt(hoverElevation) : parseInt(elevation)"
        :style="{transition: `all ${parseInt(transitionDuration)}ms ${transitionType} 0s`}"
        @click="openDialog"
      >
        <dc-logo
          v-if="showLogo"
          position="absolute"
          height="150"
          width="150"
          rotation="-45"
          z-index="0"
          transform-x="-24"
          transform-y="-39"
          :logo-color="logoColor"
          :transition-type="transitionType"
          :transition-duration="transitionDuration"
          :opacity="hover ? 0.5 : 1"
        />

        <div style="z-index: 1; position: relative;">
          <v-card-title>
            <span :style="{color: hover ? getColor('primary') : getColor('secondary'), transition: `all ${parseInt(transitionDuration)}ms ${transitionType} 0s`}">{{ plugin.label }}</span>
          </v-card-title>
          <v-card-subtitle>
            <span>{{ $t('installed_at') }}: {{ $d(new Date(plugin.installed.date), 'long') }}</span>
          </v-card-subtitle>
          <v-card-text>
          </v-card-text>
        </div>
      </v-card>
      <v-dialog v-model="dialogs.edit" max-width="1000px">
        <v-card v-if="plugin !== null" color="grey lighten-4">
          <v-card-title :style="{backgroundColor: getColor('primary')}" style="color: white;">
            {{ plugin.label }}
            <v-spacer/>

            <v-hover v-slot="{ hover }">
              <v-btn dark elevation="0" :color="hover ? 'red' : 'white'" text tile @click="dialogs.edit = false">
                <v-icon>$vuetify.icons.close</v-icon>
              </v-btn>
            </v-hover>
          </v-card-title>
          <v-card-subtitle class="mt-1">
            <v-simple-table style="background-color: transparent">
              <template v-slot:default>
                <tr>
                  <th style="text-align: left; width: 150px;">{{ $t('version') }}</th>
                  <td>{{ plugin.version }}</td>
                </tr>
                <tr>
                  <th style="text-align: left; width: 150px;">{{ $t('author') }}</th>
                  <td><a :href="plugin.link">{{ plugin.author }}</a></td>
                </tr>
                <tr>
                  <th style="text-align: left; width: 150px;">{{ $t('installed_at') }}</th>
                  <td>{{ $d(new Date(plugin.installed.date), 'long') }}</td>
                </tr>
                <tr>
                  <th style="text-align: left; width: 150px;">{{ $t('updated_at') }}</th>
                  <td>{{ $d(new Date(plugin.updated.date), 'long') }}</td>
                </tr>
              </template>
            </v-simple-table>
          </v-card-subtitle>
          <v-card-text>
            <v-expansion-panels style="overflow: auto;">
              <v-expansion-panel v-for="(containers, group) in plugin.fieldSet" :key="group" v-if="hasFields(containers, group)">
                <v-expansion-panel-header>
                  {{ $t(`config.${group}`) }}
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  <v-row>
                    <v-col
                      v-for="(identifiers, cKey) in containers"
                      :key="cKey"
                      :cols="containers.hasOwnProperty('main') ? 12 : 6"
                    >
                      <div v-for="(identifier, iKey) in identifiers" :key="iKey" v-if="getField(identifier, group) !== null">
                        <v-text-field
                          :label="data[group][identifier].label"
                          v-if="data[group][identifier].type === 'text'"
                          v-model="data[group][identifier].value"
                          @input="editField(identifier, data[group][identifier])"
                        />
                        <v-text-field
                          :label="data[group][identifier].label"
                          v-if="data[group][identifier].type === 'number'"
                          type="number"
                          v-model="data[group][identifier].value"
                          @input="editField(identifier, data[group][identifier])"
                        />
                        <v-checkbox
                          :label="data[group][identifier].label"
                          v-if="data[group][identifier].type === 'boolean'"
                          v-model="data[group][identifier].value"
                          @change="editField(identifier, data[group][identifier])"
                        />
                      </div>
                    </v-col>
                  </v-row>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-card-text>
          <v-divider/>
          <v-card-actions :style="{backgroundColor: getColor('grey lighten-3')}">
            <v-spacer/>
            <v-btn
              tile
              dark
              elevation="0"
              color="red"
              width="120"
              @click="closeDialog"
            >
              {{ $t('cancel') }}
            </v-btn>
            <v-btn
              tile
              :dark="Object.keys(edited).length !== 0"
              elevation="0"
              color="green"
              width="120"
              depressed
              :disabled="Object.keys(edited).length === 0"
              @click="save"
            >
              {{ $t('save') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-snackbar v-model="snackbars.saved" color="primary">
        {{ $t('config.saved.successfully') }}
        <template v-slot:action="{ attrs }">
          <v-btn
            text
            dark
            v-bind="attrs"
            @click="snackbars.saved = false"
          >
            {{ $t('close') }}
          </v-btn>
        </template>
      </v-snackbar>
    </div>
  </v-hover>
</template>

<script>
import vColors from "vuetify/lib/util/colors";
import DcLogo from './Logo'
export default {
  components: {
    DcLogo
  },
  props: {
    plugin: {
      required: true
    },
    showLogo: {
      type: Boolean,
      default: false
    },
    elevation: {
      type: String|Number,
      default: '1'
    },
    hoverElevation: {
      type: String|Number,
      default: '3'
    },
    outlined: {
      type: Boolean,
      default: false
    },
    tile: {
      type: Boolean,
      default: false
    },
    logoColor: {
      type: String,
      default: 'grey lighten-2'
    },
    transitionType: {
      type: String,
      default: 'ease'
    },
    transitionDuration: {
      type: String,
      default: '200'
    },
  },
  data: () => ({
    dialogs: {
      edit: false
    },
    snackbars: {
      saved: false
    },
    data: {},
    edited: {}
  }),
  methods: {
    getColor(color) {
      var colors = color.split(' ')
      var theme = this.$vuetify.theme.dark ? 'dark' : 'light'

      if (colors.length >= 1) {
        colors[0] = colors[0].replace(/-([a-z])/g, function (g) { return g[1].toUpperCase(); })
      }

      if (this.$vuetify.theme.themes[theme].hasOwnProperty(colors[0])) {
        return this.$vuetify.theme.themes[theme][colors[0]]
      } else if (vColors.hasOwnProperty(colors[0])) {
        if (colors.length > 1) {
          let brightness = colors[1].split('-').join('')

          return vColors[colors[0]].hasOwnProperty(brightness)
            ? vColors[colors[0]][brightness]
            : (vColors[colors[0]].hasOwnProperty('base')
              ? vColors[colors[0]]['base']
              : this.$vuetify.theme.themes[theme]['primary'])
        } else {
          return vColors[colors[0]].hasOwnProperty('base')
            ? vColors[colors[0]]['base']
            : this.$vuetify.theme.themes[theme]['primary']
        }
      } else {
        return this.$vuetify.theme.themes[theme]['primary']
      }
    },
    getField(identifier, group) {
      if (this.data.hasOwnProperty(group) && this.data[group].hasOwnProperty(identifier) && this.data[group][identifier] !== null) {
        return this.data[group][identifier]
      }

      if (
        this.plugin !== null &&
        this.plugin.hasOwnProperty('configForms') &&
        this.plugin.configForms.hasOwnProperty('elements') &&
        (this.plugin.name !== 'WundeDcompanion' && this.plugin.hasOwnProperty('wholesaler') || this.plugin.name === 'WundeDcompanion')
      ) {
        var field = this.plugin.name !== 'WundeDcompanion'
          ? this.plugin.configForms.elements.find(element => element.name.replace(`dc_${this.plugin.wholesaler}_`, '') === identifier)
          : this.plugin.configForms.elements.find(element => element.name.replace('dc_', '') === identifier)

        if (field !== undefined) {
          if (!this.data.hasOwnProperty(group)) {
            this.data[group] = {}
          }

          var translated = false

          if (field.hasOwnProperty('translations')) {
            var translation = field.translations.find(translation => {
              return translation.hasOwnProperty('locale') && translation.locale.hasOwnProperty('locale')
                ? translation.locale.locale.split('_')[0] === this.$i18n.locale
                : undefined
            })

            if (translation !== null && translation !== undefined) {
              field.label = translation.label
              field.description = translation.description

              translated = true
            }
          }

          if (!translated) {
            field.label = this.$t(`config.${identifier}.label`)
            field.description = this.$t(`config.${identifier}.description`)
          }

          if (!field.hasOwnProperty('value')) {
            field['value'] = ''
          }
          this.data[group][identifier] = field
          return field
        }
      }

      return null
    },
    hasFields(containers, group) {
      let fields = []

      for (const [key, identifiers] of Object.entries(containers)) {
        identifiers.forEach(identifier => {
          let field = this.getField(identifier, group)

          if (field !== null) {
            fields.push(field)
          }
        })
      }

      return fields.length !== 0
    },
    openDialog() {
      this.edited = {}
      this.dialogs.edit = true
    },
    closeDialog() {
      this.edited = {}
      this.dialogs.edit = false
    },
    editField(identifier, field) {
      this.edited[identifier] = field
    },
    save() {
      let data = {
        elements: []
      }

      for (const [key, field] of Object.entries(this.edited)) {
        data.elements.push(field)
      }

      this.$store.dispatch('config/savePluginConfigElement', data)
        .then(() => {

        })
    }
  }
}
</script>
