<template>
  <v-app-bar app dark flat fixed class="dc-gradient" v-if="$vuetify.breakpoint.lgAndUp">
    <v-app-bar-nav-icon v-if="$vuetify.breakpoint.mdAndDown" @click.stop="toggleDrawer"/>
    <v-toolbar-title>{{ privacy ? $t('menu.privacy') : title }}</v-toolbar-title>
    <v-spacer/>
    <slot name="menu"></slot>
  </v-app-bar>
</template>

<script>
export default {
  data: () => ({
    title: 'Hallo',
    privacy: false
  }),
  mounted() {
    this.title = this.$store.getters['getTitle']
    this.$root.$on('change-title', (title) => this.title = title)
    this.$root.$on('change-privacy', (privacy) => this.privacy = privacy)
  },
  methods: {
    toggleDrawer () {
      this.$root.$emit('toogle-drawer', !this.value)
    },
  }
}
</script>

<style lang="scss">
.v-toolbar__content, .v-toolbar__extension {
  padding: 0 16px !important;
}
</style>
