<template>
  <div>
    <v-card
      :style="{height: getHeight, width: getWidth}"
      :color="backgroundColor"
      tile
      :elevation="3"
      @drop="onDrop"
      @dragover.prevent
      class="drag-drop-zone"
      v-if="image === null"
      outlined
    >
      <v-row align="center" justify="center" class="fill-height">
        <v-col class="d-flex flex-column align-center">
          <v-icon>$fileUpload</v-icon>
          <span>Drag & Drop</span>
        </v-col>
      </v-row>
    </v-card>

    <v-row v-if="image !== null" align="center" justify="center" class="fill-height">
      <v-col class="d-flex flex-column align-center">
        <img :src="image" style="max-height: 200px" alt=""/>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  props: {
    height: {
      type: String,
      default: '200px'
    },
    width: {
      type: String,
      default: '200px'
    },
    elevaltion: {
      type: String,
      default: '2'
    },
    backgroundColor: {
      type: String,
      default: 'grey lighten-3'
    },
    icon: {
      type: String,
      default: 'home'
    },
  },
  data: () => ({
    image: null
  }),
  methods: {
    onDrop(e) {
      e.preventDefault();

      if (e.dataTransfer.items) {
        for (var i = 0; i < e.dataTransfer.items.length; i++) {
          if (e.dataTransfer.items[i].kind === 'file') {
            var file = e.dataTransfer.items[i].getAsFile();

            const reader = new FileReader();

            reader.onloadend = () => {
              var img = new Image()
              img.src = reader.result

              img.onload = (e) => {
                this.image = reader.result

                this.imageHeight = e.path[0].height
                this.imageWidth = e.path[0].width

                this.$emit('input', {
                  src: this.image,
                  height: e.path[0].height,
                  width: e.path[0].width
                })
              }
            };

            reader.readAsDataURL(file);
          }
        }
      }
    }
  },
  computed: {
    getHeight() {
      return !this.height.includes('px') && !this.height.includes('%')
        ? `${this.height}px`
        : this.height
    },
    getWidth() {
      return !this.width.includes('px') && !this.width.includes('%')
        ? `${this.width}px`
        : this.width
    }
  },
}
</script>
